.landregistry-content {
  max-width: 1020px;
  width: auto;
  margin: 0 auto 90px;
  @extend %contain-floats;

  @include ie-lte(6)  {
    width: 990px;
  }
}

.inner-block {
  @include media(tablet) {
    padding: 0 $gutter-half;
  }
}

@mixin grid-wrapper {
  @extend %contain-floats;
  padding: 0 $gutter-half;
  @include media(tablet) {
    padding: 0 $gutter-half;
  }
}
