.breadcrumb {
  width: 100%;
  margin: 0 auto 45px auto;
}

.breadcrumb ol {
  margin: 0;
  list-style: none;
  padding: 12px 0;
  border-top: 10px solid $govuk-blue;
}

.breadcrumb li {
  @include core-16;
  float: left;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png) 100% 50% no-repeat;
  margin-right: 8px;
  padding-right: 16px;

  &:last-child {
    background-image: none;
    margin-right: 0;
  }
}

.breadcrumb a {
  color: $black;

  &:hover {
    color: $link-hover-colour;
  }
}

