.landregistry-base {


	.landregistry-heading {

		border-bottom-style:solid;
		border-size: 3px;
		border-color: #ACCD40;
		padding: 5px;

	}

	.landregistry-footer {

	  height: 60px;
	  background-color: #ACCD40;

	}


 }


