.index {
  @include grid-wrapper;
  @include core-19;

  min-height: 1000px;

  margin-top: $gutter*2;

  h1 {
    @include core-27;
    color: $secondary-text-colour;
  }
  h2 {
    @include bold-48;
    margin-bottom: $gutter;

    .phase-tag {
      @include phase-tag;
      position: relative;
      top: -5px;
    }
  }

  label {
    display: block;
    @include core-24;
    margin-bottom: $gutter-half;
  }
  input {
    @include core-19;
    padding: $gutter / 4;
    border: 1px solid $border-colour;
    width: 50%;
    margin-bottom: $gutter-half;
  }
  button {
    @include button;
    display: block;
    margin-bottom: $gutter;
  }
}
