.index {

  form {

    padding-top: $gutter;

    input {
      width: 450px;
      margin-right: $gutter / 2;
      margin-top: 0;
    }

    label.form-label {
      @include core-27;
    }
    input.form-control {
      @include core-36;
    }
    .button {
      @include core-24;
      padding: 14px 20px 12px;
    }

  }

  .alternate-routes {
    h2 {
      @include bold-24;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }

}
