.map {
  @include core-19;

  .ol-container {
    height: 100%;
    width: 100%;
  }

  .map-info {
    position: absolute;
    top: 60px;
    right: $gutter;
    width: 250px;
    background: white;
    padding: $gutter;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    border: $border-colour;
    display: none;

    h2 {
      @include bold-24;
    }
  }

  .start-drawing-button {
    position: absolute;
    right: $gutter;
    bottom: $gutter;
    &:active {
      top: inherit;
      bottom: $gutter - 2;
    }
  }

  .drawing-help {
    position: absolute;
    bottom: $gutter;
    right: $gutter;
    width: 250px;
    background: white;
    padding: $gutter;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    border: $border-colour;
    display: none;
    text-align: left;
  }
}
