.my-property {
  @include grid-wrapper;

  h1 {
    @include core-36;
    margin: $gutter*2 0 $gutter;
    color: $secondary-text-colour;
  }

  .metadata,
  .map {
    @include media(tablet) {
      float: left;
      width: 50%;
    }
  }

  .metadata {
    .address {
      padding-bottom: $gutter-half;
      p {
        @include bold-48;
        margin: 0 0 $gutter-half;
      }
    }

    dl {
      @include core-19;
    }
    dt {
      width: 120px;
      float: left;
      clear: left;
      font-weight: bold;
    }
    dd {
      float: left;
    }
  }

  .map {
    img {
      width: 100%;
    }
  }
}
