.my-property {
  @include grid-wrapper;
  @include core-19;

  .heading-row {
    @extend %contain-floats;
  }

  .row {
    @extend %contain-floats;
    margin-bottom: $gutter*2;
  }

  .block {
    h2 {
      @include bold-27;
      margin: 0 0 $gutter;
    }
  }

  h1 {
    @include core-36;
    margin: $gutter*2 0 $gutter;
    color: $secondary-text-colour;
  }

  .metadata,
  .map {
    @include media(tablet) {
      float: left;
      width: 50%;
    }
  }

  .metadata {
    .address {
      padding-bottom: $gutter-half;
      p {
        @include bold-48;
        margin: 0 0 $gutter-half;
      }
    }

    dt {
      width: 120px;
      float: left;
      clear: left;
      font-weight: bold;
    }
    dd {
      float: left;
    }
  }

  .map {
    img {
      width: 100%;
    }
  }

  .dashboard {
    @include media(tablet) {
      width: 100%;
      float: left;
    }
  }

  .dashboard-item {
    float: left;
    width: 25%;
    text-align: left;

    h2 {
      @include bold-24;
      margin-bottom: $gutter-half;
    }

    .data-big {
      @include bold-80($tabular-numbers: true);
      margin-bottom: $gutter-half;
    }

    .data-small {
      @include bold-48($tabular-numbers: true);
      margin-bottom: $gutter-half;
    }

    .data-good {
      color: $green;
    }

    .data-bad {
      color: $red;
    }
  }

  .actions {
    ul {
      @include unstyled-list;
      margin: 0;
    }

    li {
      margin: $gutter/4 0;
    }

    @include media(tablet) {
      width: $one-third;
      float: left;
    }
  }

  .activity {
    ul {
      @include unstyled-list;
    }

    h3 {
      @include bold-19;
    }
    p {
      margin-top: 0;
    }
    @include media(tablet) {
      width: 50%;
      float: left;
    }
  }

  .mortgages {
    @include media(tablet) {
      width: 50%;
      float: left;
    }
  }

  .historical-information {
    ul {
      @include unstyled-list;
    }
    li {
      margin: $gutter/4 0;
    }
    @include media(tablet) {
      width: $one-third;
      float: left;
    }
  }
}
