.search {

  h1 {
    @include bold-36;
  }

  form {
    margin-bottom: $gutter*2;
  }

  .results {
    margin: $gutter;
    border-top: 3px solid $grey-4;
    border-bottom: 3px solid $grey-4;
  }

  .result {

    padding: $gutter-half;

    h3 {
      @include core-24;

      a {
        color: $black;
        text-decoration: none;
      }
      br { display: none; } // cheeky ;)
    }

    &:nth-child(even) {
      background-color: $grey-4;
    }

  }

  .meta {
    @extend %contain-floats;

    .grid {
      padding-top: $gutter / 4;
    }
  }

  dt, dd {
    float: left;
  }
  dt {
    clear: left;
  }
  dd {
    margin-left: $gutter / 5;
  }
}
