.sell-solicitor-todo {

  .splash {
    text-align: center;
    color: $white;
    margin-bottom: $gutter;
    padding: $gutter $gutter*2;
    background-color: $turquoise;

    h1 {
      @include bold-48;
      font-size: 72px;
    }

    p {
      margin-top: $gutter-half;
    }

    .ref strong {
      @include bold-36;
      display: block;
    }

  }

  .property {
    @extend %contain-floats;
    padding: 0 $gutter;
  }

  .address {
    p {
      @include core-36;
    }
  }

  .owner {
    p {
      @include core-36;
    }
  }

  dl {
    @extend %contain-floats;
  }
  dt, dd {
    float: left;
  }
  dt {
    clear: left;
    width: 25%;
    &:after {
      content: ': ';
    }
  }
  dd {
    font-weight: 700;
    margin-left: $gutter / 5;
  }

}