.solicitor-transfer-title {

	.form-hint {

		display: block;
		color: $secondary-text-colour;
		margin-bottom: 5px;
	}

	.form-indent {

 		display: block;
 		margin-bottom: 5px;
 		margin-left: 20px;
 	}

 .grid-1-10 {
  width: 100%;
  @include media(tablet) {
    width: 10%;
  }
  }


 .grid-9-10 {
  width: 100%;
  @include media(tablet) {
    width: 90%;
  }
  }


  .hint {
    color: $secondary-text-colour;
  }

  .form-group {
    width: 40px;
    float: left;
    clear: none;
    margin-right: $gutter-half;
    @include media(tablet) {
      margin-right: $gutter;
    }
  }

  .form-group-year {
    width: 60px;
  }

  .progress-indicator {

    ol,
    ul{
      @extend %contain-floats;
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-color: $border-colour;
      list-style-type: none;
      padding-left: 0;
    }

    li {
      color: $secondary-text-colour;
      padding: 12px 0 5px 0;
    }
    a {
      text-decoration: none;
    }

    .active {
      border-bottom: 5px solid $text-colour;
      color: $text-colour;
    }
    .active a {
      color: $text-colour;
      text-decoration: none;
    }

  }

  .progress-indicator-horizontal {

    li {
      @include media(tablet) {
        float: left;
        margin-right: $gutter;
      }
    }
    li.active {
      @include media(tablet) {
        margin-bottom: -5px;
      }
    }

  }

  .progress-indicator-vertical {

    // Reduce width for desktop (for this example only)
    @include media(tablet) {
      width: 50%;
    }

    span {
      float: right;
    }

  }

}
