.solicitor-agree-to-transact {

  .buyer-details {
    @extend %contain-floats;
    }

  .property-details {
    @extend %contain-floats;
    }

  .map-container {
    height: 300px;
    padding-left: $gutter;
  }

  dl {
    @include metadata-dl;

    dt {
      width: 150px;
    }
  }

}
