.solicitor-transfer-receipt {

	.splash {
	    text-align: center;
	    color: $white;
	    padding: $gutter*2 $gutter*2;
	    margin-bottom: $gutter*2;
	    background-color: $turquoise;

	    h1 {
	      @include bold-48;
	      font-size: 72px;
	      margin-bottom: $gutter;
	    }

	    strong {
	      @include bold-36;
	      display: block;
	    }

	    a {
	      display: block;
	      color: $white;
	      font-weight: 700;
	    }
	  }

	.link-right {
		margin-left: 143px;	
	}

}
