.solicitor-find-property {
  label.form-label {
    @include core-27;
  }
  input.form-control {
    @include core-36;
  }

  .results {
    display: none;
  }

  .result {
    border-bottom: 1px solid $border-colour;
    margin-bottom: $gutter;

    address {
      @include core-24;
      font-style: normal;
      margin-bottom: $gutter/2;
      p {
        margin: 0;
      }
    }
  }

  .map-container {
    height: 350px;
  }
}
