.solicitor-transfer-title {

	.form-hint {

		display: block;
		color: $secondary-text-colour;
		margin-bottom: 5px;
	}

	.form-indent {
 		
 		display: block;
 		margin-bottom: 5px;
 		margin-left: 20px;
 	}
}
