.solicitor-freeze-mortgage {

	.form-control-indent {

		margin-left: 20px;
	}

	.form-hint-indent {
		
		display: block;
		color: $secondary-text-colour;
		margin-bottom: 5px;
		margin-left: 20px;
	}

	.p-indent {
	
	    margin-left: 20px;
	}

}
