.solicitor-confirm-client {

  dl {
    @include metadata-dl;

    dt {
      width: 150px;
    }
  }

  .client,
  .address {
    p {
      @include core-24;
    }
  }

  .map-container {
    height: 300px;
    padding-left: $gutter;
  }

}
