.solicitor-case-list {

  .results {
    margin: $gutter;
    border-top: 3px solid $grey-4;
  }

  .result {

    @extend %contain-floats;
    padding: $gutter $gutter-half;
    margin: 0;

    h3 {
      @include core-24;

      a {
        color: $black;
        text-decoration: none;
      }
      br { display: none; } // cheeky ;)
    }

    &:nth-child(even) {
      background-color: $grey-4;
    }

  }

  .flag {
    @include core-24;
    border-bottom: 2px solid;
  }
  .active .flag {
    border-color: $yellow;
  }
  .complete .flag {
    color: $green;
    border-color: $green;
  }

}
