{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Authorise a solicitor or conveyancer</li>
       </ol>
    </nav>
    <div align="right">
        {% if session.user == "seller" %}
          Logged in as: <a href="#">Fiona Wright</a><br>
        {% else %}
          Logged in as: <a href="#">Geoff Bridges</a><br>
        {% endif %}
      </div>
  </div>

  <div class="authorise-solicitor-confirm">

    <div class="full-width">
      <div class="grid grid-1-2">
         <h1 class="heading-48">
        <span class="heading-27">Land registry</span>
        Authorise a solicitor or conveyancer
        </h1>
      </div>
    </div>

    <div class="text full-width">

    <div class="full-width text your-details">
      <h2 class="heading-36">Your details</h2>
      <dl>
        {% if session.user == "seller" %}
          <dt>Name</dt><dd>Fiona Wright</dd>
          <dt>Date of birth</dt><dd>2 February 1974</dd>
          <dt>Address</dt><dd>26 The Stow, Harlow, CM20 3AN</dd>
        {% else %}
          <dt>Name</dt><dd>Geoff Bridges</dd>
          <dt>Date of birth</dt><dd>2 February 1974</dd>
          <dt>Address</dt><dd>22 Meadow Way, Theale, RG7 10JX</dd>
        {% endif %}
      </dl>
    </div>

      <h2 class="heading-36">
        {% if session.user == "seller" %}
          Your property
        {% else %}
          Property you are buying
        {% endif %}
      </h2>

    </div>

    <div class="full-width property-details">

      <div class="grid grid-1-2">
        <div class="address">
          <p>26 The Stow<br>Harlow<br>CM20 3AN</p>
        </div>
        <dl>
          <dt>Owner</dt>
          <dd>Ms Fiona Wright</dd>
          <dt>Type</dt>
          <dd>Semi-detached house</dd>
          <dt>Title number</dt>
          <dd>EX802883</dd>
        </dl>
      </div>

      <div class="grid grid-1-2">
        <div class="map-container"></div>
      </div>

    </div>

    <div class="full-width text your-solicitor">

      <h2 class="heading-36">Your solicitor or conveyancer</h2>
      {% if session.user == "seller" %}
        <p class="lede">Enact</p>
        <dl>
          <dt>Reference</dt><dd>76JSC244<dd>
          <dt>Address</dt><dd>Cardinal House, 9 Manor Road, Leeds LS11 9AH</dd>
        </dl>
      {% else %}
        <p class="lede">Baldwin &amp; Robinson Law</p>
        <dl>
          <dt>Reference</dt><dd>76JSC244<dd>
          <dt>Address</dt><dd>185-187 Station Road East, Oxted, RH8 0QE</dd>
        </dl>
      {% endif %}
    </div>

    <div class="full-width text">
      <p>
        <a href="/authorise-solicitor/done" class="button">Confirm</a>
      </p>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script>
    window.LR.extentMap = new LR.SingleExtentMap({
      el: '.map-container',
      extent: {"geometry": {"crs": {"type": "name", "properties": {"name": "EPSG:3857"}}, "type": "MultiPolygon", "coordinates": [[[[12715.636420080258, 6759785.153577343], [12719.102122105665, 6759785.803515486], [12719.734944721547, 6759782.631865009], [12718.149520609404, 6759782.326878414], [12719.197740892372, 6759776.779428467], [12717.218036119606, 6759776.400157347], [12720.895142760743, 6759756.073005967], [12711.712628213394, 6759754.382339404], [12708.968760391492, 6759769.427477924], [12706.420223719875, 6759783.415341181], [12715.636420080258, 6759785.153577343]]]]}},
    });
  </script>
{% endblock %}
