{% extends "govuk_template.html" %}
{% block head %}
  {% assets "css_main" %}
    <link href="{{ ASSET_URL }}" media="all" rel="stylesheet" type="text/css">
  {% endassets %}
  {% block extra_css %}{% endblock %}
{% endblock %}
{% block content %}
  <div id="landregistry-wrapper">
    <main id="content" class="landregistry-content">
      {% block landregistry_content %}
        <div class="grid-wrapper">
          {% block landregistry_grid %}{% endblock %}
        </div>
      {% endblock %}
    </main>
  </div>
{% endblock %}

{% block body_end %}
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/static/javascripts/vendor/jquery.collapse.js" type="text/javascript"></script>
  <script src="/static/javascripts/vendor/jquery.collapse_storage.js" type="text/javascript"></script>
  <script src="/static/javascripts/vendor/jquery.collapse_cookie_storage.js" type="text/javascript"></script>
  <script src="/static/javascripts/vendor/underscore-min.js"></script>
  <script src="/static/javascripts/vendor/ol.js" type="text/javascript"></script>
  <script src="/static/javascripts/map-search.js" type="text/javascript"></script>
  <script src="/static/javascripts/single-extent-map.js" type="text/javascript"></script>
  {% block extra_js %}{% endblock %}
{% endblock %}
