{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block landregistry_grid %}

<div class="caseworker-case">

    <div class="full-width">

      <h1 class="heading-48">
        <span class="heading-27">Land registry</span>
        Case Processing System
        <span class="phase-block">
          <span class="alpha">Concept</span>
        </span>
      </h1>

      <div id="top" class="full-width">
	      <form>
	      	<label for="appn">Application: </label><input id="appn" type="text" value="X123-TP-124"/>

	      	<label class="middle-label" for="status">Status: </label><input id="status" type="text" value="New"/>
	      </form>
      </div>

      <br>
      <br>


      <div id="middle-block" class="full-width">
      	<div id="draft-register" class="draft-register">
          <h4>Draft Register</h4>

          <textarea>A: PROPERTY REGISTER
THIS REGISTER DESCRIBES THE LAND AND ESTATE COMPRISED IN THE TITLE. 



                                   NORTHUMBERLAND                             
                                                                              
1.   (01.11.2011) The Freehold land shown edged with red on the plan of  
     the above title filed at the Registry and being 76 Allerburn Lea,        
     Alnmouth, Alnwick (NE66 2NQ).  



B: PROPRIETORSHIP REGISTER
THIS REGISTER SPECIFIES THE CLASS OF TITLE AND IDENTIFIES THE OWNER. IT       
CONTAINS ANY ENTRIES THAT AFFECT THE RIGHT OF DISPOSAL.                       

TITLE ABSOLUTE



1.   (10.12.2013) PROPRIETOR: %ARON JASPER (DUKE OF LAUNCESTON)% of 50  
     High Street, *Plymouth* PL1 1AA.        


C: CHARGES REGISTER
THIS REGISTER CONTAINS ANY CHARGES AND OTHER MATTERS THAT AFFECT THE LAND. 



1.   (09.12.2013) REGISTERED CHARGE dated 9 December 2013.               

2.   (09.12.2013) Proprietor: #ALBION HOME LOANS LIMITED# (Co. Regn. No. 
     2426562) of 105 Albion Street, Leeds LS1 5AS.      
          </textarea>
          <div id="draft-actions" class="action-buttons">
            <a href="#draft-register" class="button">Approve</a>
            <a href="#draft-register" class="button">Add</a>
            <a href="#draft-register" class="button">Amend</a>
            <a href="#draft-register" class="button">Delete</a>
          </div>
      	</div>
      	
      	
      	<div id="left-container" class="left-container">

  	      	<div id="daylist" class="daylist">
              <h4 class="h-centre">Daylist</h4>
              <ul>
                <li>NT: NT12234</li>
                <li>OT: DN10033</li>
              </ul>
  	      	</div>

  	      	<div id="gold" class="gold">
              <h4 class="h-centre">Gold</h4>
              <ul>
                <li>TEXT - random text</li>
                <li>CN500 - CRE codes</li>
              </ul>
  	      	</div>

  	      	<div id="fee" class="fee">
              <h4 class="h-centre">Fee</h4>
              <p>Total: £45<p>
  	      	</div>
          </div>


      </div>

      <br>


  	  <div id="bottom-block" class="full-width">
  	  	<div id="draft-tp" class="draft-tp">
          <h4>Draft Title Plan</h4>

          <img class="img-draft-tp" src="/static/images/map.png" alt="some_text">   
          <div id="draft-actions" class="action-buttons">
            <a href="#draft-register" class="button">Approve</a>
            <a href="#draft-register" class="button">Amend</a>
          </div>
  	  	</div>

  	  	<div id="evidence" class="evidence">
  	  		<h4 class="h-centre">Evidence</h4>
            <ul>
              <li>Certificate: re RX1</li>
              <li>SDLT Return</li>
              <li>Certificate: re Death</li>
            </ul>
  	  	</div>

      </div>
      
      <br>

      <div id="seller-info" class="full-width">
        <div id="register" class="register">
          <h4>Seller's Register</h4>
          <textarea class="small-textarea">A: PROPERTY REGISTER
  THIS REGISTER DESCRIBES THE LAND AND ESTATE COMPRISED IN THE TITLE. 



                                   NORTHUMBERLAND                             
                                                                              
  1.   (01.11.2011) The Freehold land shown edged with red on the plan of  
     the above title filed at the Registry and being 76 Allerburn Lea,        
     Alnmouth, Alnwick (NE66 2NQ).  



  B: PROPRIETORSHIP REGISTER
  THIS REGISTER SPECIFIES THE CLASS OF TITLE AND IDENTIFIES THE OWNER. IT       
  CONTAINS ANY ENTRIES THAT AFFECT THE RIGHT OF DISPOSAL.                       

  TITLE ABSOLUTE



  1.   (10.12.2013) PROPRIETOR: %ARON JASPER (DUKE OF LAUNCESTON)% of 50  
     High Street, *Plymouth* PL1 1AA.        


  C: CHARGES REGISTER
  THIS REGISTER CONTAINS ANY CHARGES AND OTHER MATTERS THAT AFFECT THE LAND. 



  1.   (09.12.2013) REGISTERED CHARGE dated 9 December 2013.               

  2.   (09.12.2013) Proprietor: #ALBION HOME LOANS LIMITED# (Co. Regn. No. 
     2426562) of 105 Albion Street, Leeds LS1 5AS.      
          </textarea>      
        </div>    
      </div>

    <br>


    <div id="seller-tp" class="full-width"> 
      <div id="current-tp" class="current-tp">
        <h4>Seller's Title Plan</h4>      
        <img class="img-current-tp" src="/static/images/map.png" alt="some_text">       
      </div>
    </div>

    <br>
    
    <div id="bottom-buttons" class="bottom-buttons">
      <a href="#draft-register" class="button">Refer</a>
      <a href="#draft-register" class="button">Cancel</a>
      <a href="#draft-register" class="button">Store</a>
      <a href="#draft-register" class="button">Requisitions</a>
      <a href="#draft-register" class="button">Notices</a>        
    </div>

  </div>



</div>

{% endblock %}