{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="team_leader_casework_status">

  <div class="full-width">
    <h1 class="heading-48">
      <span class="heading-27">Land Registry</span>
      Casework Status
      <span class="phase-block">
        <span class="alpha">Concept</span>
      </span>
    </h1>
   </div>

	<div class="full-width">
		<b>Team name:</b><input type="text" id="teamname" value="Customer Team 1"><br><br>
	</div>

  <h2><br></h2>

	<div class="full-width">
		<h2>Worklist view: Today outstanding</h2>
	</div>	
  <br>

  <div class="full-width">
	<table class = "table">
  <thead>
    <tr>
      <th>No</th>
      <th>Type</th>
      <th>..</th>
      <th>..</th>
      <th>Status</th>
      <th>Who</th>
      <th>Actions</th>
      <th><a href="" class="button">select all</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>TP</td>
      <td>...</td>
      <td>...</td>
      <td>Draft</td>
      <td>Mary Jones</td>
      <td><a href="/" >View</a><br><br><a href="/" >Reallocate</a></td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>2</td>
      <td>TP</td>
      <td>...</td>
      <td>...</td>
      <td>Draft</td>
      <td>Jeff Rodrigez</td>
      <td><a href="/" >View</a><br><br><a href="/" >Reallocate</a></td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>3</td>
      <td>DLG</td>
      <td>...</td>
      <td>...</td>
      <td>Notices</td>
      <td>Brian Long</td>
      <td><a href="/" >View</a><br><br><a href="/" >Reallocate</a></td>
      <td><input type="checkbox"/></td>
    </tr>
    <tr>
      <td>4</td>
      <td>DFL</td>
      <td>...</td>
      <td>...</td>
      <td>New</td>
      <td>not allocated</td>
      <td><a href="/">View</a><br><br><a href="/">Allocate</a></td>
      <td><input type="checkbox"/></td>
    </tr>
  </tbody>
</table>
</div> 

<br> 

<div class="full-width">
  <label>Further worklist actions:</label>
  <select>
    <option>allocate multiple applications</option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
  </select>
  <form class="form-radio" action="">
    <input type="radio" name="md-ref" id="no-md-ref" value="false">select from worklist<br>
    <input type="radio" name="md-ref" id="md-ref" value="true">select type by worklist<br>
    <input type="radio" name="md-ref" id="md-ref" value="true">select ...<br>
    <input type="radio" name="md-ref" id="md-ref" value="true">charge allocation profile<br>
    <input type="radio" name="md-ref" id="md-ref" value="true">other team directories and profile<br>
    <input type="radio" name="md-ref" id="md-ref" value="true">allocate to team members<br>
    <input type="radio" name="md-ref" id="md-ref" value="true">auto allocate to team members<br>
  </form>
</div>

<h2><br><br></h2>

<div class="full-width">
  <h2>Work allocation: Today outstanding</h2>

    <br>
    <h3>Team Profile</h3>
    <div class="full-width">
      <br>
      <h3>Today</h3>
      <img src="/static/images/daily.png" alt="some_text"><br><br>   
      <h3>This week</h3>
      <img src="/static/images/weekly.png" alt="some_text">
      <br><br>
      <img src="/static/images/skill.png" alt="some_text">   
      <br><br>
    </div>

</div>  

<h2><br><br></h2>

<div class="full-width">
  <h2>Team production</h2>
  <br>
  <img src="/static/images/team-production.jpg" alt="some_text">   
</div>

{% endblock %}