{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="breadcrumb">
    <nav role="navigation">
      <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/solicitors/define_an_area">For solicitors and conveyancers</a></li>
       </ol>
    </nav>
  </div>

  <div class="solicitor-define-area-conf">

  <div class="text full-width">

    <h1 class="heading-48">
      <span class="heading-27">Land registry</span>
      Define an area
    </h1>

  </div>
    <div class="full-width">
      <div class="splash">
        <h1>Done</h1>
        <p class="lede">You have divided the title CS72510 into 3 parts. The new titles are: <br>CS834423<br>CS834434<br>CS834477<br> Your reference number is  9SJND994 We have sent you a confirmation email
        </p>
      </div>
    </div>


{% endblock %}


