<!DOCTYPE html>
<html class='experian' lang='en'>
  <head>
    <title>
      Sign in to Experian to access your GOV.UK account
    </title>
    <meta charset='utf-8'>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <meta content='' name='description'>
    <meta content='width=device-width,initial-scale=1.0' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <link href='http://showcase-idp-demo.herokuapp.com/images/favicon.ico' rel='shortcut icon'>
    <link href='http://showcase-idp-demo.herokuapp.com/images/favicon.png' rel='icon' type='image/png'>
    <link href='http://showcase-idp-demo.herokuapp.com/images/touch.png' rel='apple-touch-icon'>
    <!--[if lte IE 8]>
    <script src="/javascripts/library/html5shiv-printshiv.js" type="text/javascript")></script>
    <link href="/stylesheets/all-old-ie.css" media="screen" rel="stylesheet" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link href='http://showcase-idp-demo.herokuapp.com/stylesheets/application.css' rel='stylesheet'>
    <!--<![endif]-->
  </head>
  <body class='idp-signin '>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <header class='global-header'>
      <div class='container'>
        <div class='logo'>
          Experian
        </div>
        <a class='back-to-hub' href='http://ida-showcase.herokuapp.com/register-signin?requestId=dvla'>
          <div class='govuk-secure'>
            <div class='logo-secure'>GOV.UK approved</div>
            <div class='back-to-hub'>Back to GOV.UK</div>
          </div>
        </a>
      </div>
    </header>
    <div class='section' id='content' role='main'>
      <h1>
        <span class='sign-in-to'>Sign in</span>
        <span class='sub-head'>to access GOV.UK</span>
      </h1>
      <div class='content'>
        <div class='mobile-alert hidden' id='js-mobile-alert'>
          <p>
            Experian: Your unique one time code:
            <strong id='js-code'>12345</strong>
          </p>
        </div>
        <div id='js-signin'>
          <form action='#' class='login' method='post' novalidate='novalidate'>
            <fieldset>
              <div class='field-group'>
                <label for='email'>Email address</label>
                <input class='field' id='email' placeholder='' type='text'>
              </div>
              <div class='field-group'>
                <label for='password'>Password</label>
                <input class='field' id='password' placeholder='' style='margin-bottom: 0.4em;' type='password'>
                <em class='forgotten'>
                  <a href=''>Forgotten your password?</a>
                </em>
              </div>
            </fieldset>
            <div class='actions'>
              <button class='button continue' name='signin' type='submit' value='Sign in'>Sign in</button>
            </div>
          </form>
          <div class='actions'>
            <p>
              <a href=''>Cancel and return to transaction</a>
            </p>
          </div>
        </div>
        <div class='hidden' id='js-mobile-verification'>
          <div class='alert'>
            <p>
              A text message with your unique one time code has been sent to:
              <strong>xxxxxxx6462</strong>
            </p>
            <p>
              <a href='#' id='js-resend-code'>Resend unique code</a>
            </p>
          </div>
          <form action="/properties/{{ title_number }}/title" class='verify' method='get' novalidate='novalidate'>
            <fieldset>
              <div class='field-group'>
                <label for='code'>Enter code</label>
                <input class='field small' id='code' name='code' type='text'>
              </div>
            </fieldset>
            <div class='actions'>
              <button class='button continue' name='continue' type='submit' value='Continue'>Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src='http://showcase-idp-demo.herokuapp.com/javascripts/library/jquery.js' type='text/javascript'></script>
    <script src='http://showcase-idp-demo.herokuapp.com/javascripts/idp/sms.js' type='text/javascript'></script>
    <script src='http://showcase-idp-demo.herokuapp.com/javascripts/idp/signin.js' type='text/javascript'></script>
  </body>
</html>
