{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block landregistry_grid %}

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="/">Home</a></li>
     </ol>
  </nav>
</div>

<div class="solicitor-freeze-mortgage">

  <h1 class="heading-48">
    <span class="heading-27">Step 2 of 2</span>
    Freeze register
    <span class="phase-block">
      <span class="alpha">Concept</span>
    </span>
  </h1>

  <form action="" method="post" class="form form-group-example">

    <div class="form-group">
      <fieldset class="inline">
        <legend class="heading-24">Do you have a mortage deed reference?</legend>
        <div class="form-group form-group-related">
          <label for="radio-indent-1" class="block-label" data-target="mortagage-deed-reference">
            <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
            Yes
          </label>
          <label for="radio-indent-2" class="block-label">
            <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
            No
          </label>
        </div>

        <div class="panel-indent toggle-content" id="mortagage-deed-reference">
          <div class="form-group-related">
            <label for="md-ref-no" class="form-label">Mortage deed reference</label>
            <input type="text" class="form-control" id="md-ref-no" name="md-ref-no">
          </div>
          <p class="js-show-address">
          </p>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <a href="/solicitors/freeze_confirmation" class="button">Continue</a><br>
      <a href="/">Save and return later</a>
    </div>

  </form>

</div>

{% endblock %}

{% block extra_js %}
  <script>

    $(document).ready(function () {

      // Sample code
      var md_ref1 = "MD1234";
      var md_input = $('#md-ref-no');

      // Sample address to display
      function show_address(){
        var address = "Santander UK PLC (Co. Regn. No 2294747) of Deeds Services, <br> 101 Midsummer Bourlevard, Milton Keynes MK9 1AA";
        $('.js-show-address').html(address);
      }

      function hide_address() {
        $('.js-show-address').html("");
      }

      hide_address();

      setInterval(checkTextboxChanged, 1);

      function checkTextboxChanged() {
        var currentValue = $(md_input).val();
        // If a sample code is entered, bring up associated adddress
        if (currentValue == md_ref1) {
          show_address();
        }else {
          hide_address();
        }
      }

    });
  </script>
{% endblock %}
