{% extends "base.html" %}
{% block landregistry_grid %}

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/solicitors/define_an_area">For solicitors and conveyancers</a></li>
    </ol>
  </nav>
</div>

<div class="solicitor-freeze-receipt">

  <h1 class="heading-48">
    <span class="heading-27">Land registry</span>
    Protect an interest
  </h1>

  <div class="splash">
    <h1>Done</h1>
    <p class="lede">
      You have frozen the title EX802883
      <br>
      to protetect a  purchase and a mortgage
      <br>
      <br>
      Your reference number is  9SJND994
      <br>
      <br>
      We have sent you a confirmation email
    </p>
  </div>

  <div class="grid-wrapper">
    <div class="grid grid-1-2">
      <div class="inner-block">
        <div class="address">
          <p>26 The Stow<br>Harlow<br>CM20 3AN</p>
        </div>
        <dl>
          <dt>Council</dt>
          <dd>Harlow County Council</dd>
          <dt>Type</dt>
          <dd>Semi-detached house</dd>
          <dt>Title number</dt>
          <dd>EX802883</dd>
        </dl>
        <p><a href="/properties/AB1234">See property details</a></p>
      </div>
    </div>
    <div class="grid grid-1-2">
      <div class="inner-block">
        <img src="/static/images/map.png" alt="some_text" class="max-image">
      </div>
    </div>
  </div>

  <div class="grid-wrapper">
    <div class="grid">
      <div class="inner-block">

        <div class="panel-indent">
          <h3 class="heading-19">Mortgage deed reference number:</h3>
          <p>MD1234<br>Santander UK PLC (Co. Regn. No 2294747) of Deeds Services,<br>101 Midsummer Bourlevard, Milton Keynes MK9 1AA
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}
