{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block landregistry_grid %}

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="/">Home</a></li>
     </ol>
  </nav>
</div>

<div class="solicitor-freeze-confirmation">
  <div class="full-width">
    <h1 class="heading-48">
      <span class="heading-27">Step 2 of 2</span>
      Freeze register
    </h1>


    <h2>Confirm details</h2>

    <br>

    <div class="md-ref-details">
      <div class="grid grid-2-3">
        <p class="embolden">You are protecting a purchase and a mortgage.</p>
      </div>

      <div class="grid grid-1-3">
        <a href ="/solicitors/freeze_interest">Change what you are protecting</a>
      </div>
    </div>

    <div class="md-ref-details">
      <div class="grid grid-2-3">
        <p class="embolden">Mortgage deed reference number</p>

        <p class="p-indent">MD123445234 <br>
           Santander UK PLC (Co. Regn. No 2294747) of Deeds Services, <br>
           101 Midsummer Bourlevard, Milton Keynes MK9 1AA 
        </p> 
      </div>

      <div class="grid grid-1-3">
        <a href ="/solicitors/freeze_mortgage">Change mortgage deed reference number</a>
      </div>   
    </div>


    <br><br>


    <a href="/solicitors/freeze_receipt" class="button">Confirm</a>

    <a href="/" class="link-indent">Save and return later</a> 

    <a href="/solicitors/freeze_mortgage" class="link-indent">Back</a>
  </div>

</div>

{% endblock %}
