<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Draw Feature Example</title>
        
        <link rel="stylesheet" href="/static/stylesheets/vendor/ol.css" type="text/css">
        <link rel="stylesheet" href="/static/stylesheets/vendor/style.css" type="text/css">
        <style type="text/css">
            #controlToggle li {
                list-style: none;
            }
            p {
                width: 512px;
            }

            /* avoid pink tiles */
            .olImageLoadError {
                background-color: transparent !important;
            }
        </style>
        <script src="/static/javascripts/vendor/OpenLayers.js"></script>
        <script type="text/javascript">
            var map, drawControls;
            function init(){
                map = new OpenLayers.Map('map');

                var wmsLayer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                    "http://vmap0.tiles.osgeo.org/wms/vmap0?", {layers: 'basic'});


                var polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer");

                map.addLayers([wmsLayer, polygonLayer]);
                map.addControl(new OpenLayers.Control.LayerSwitcher());
                map.addControl(new OpenLayers.Control.MousePosition());

                drawControls = {
                    polygon: new OpenLayers.Control.DrawFeature(polygonLayer,
                        OpenLayers.Handler.Polygon)
                };

                for(var key in drawControls) {
                    map.addControl(drawControls[key]);
                }

                map.setCenter(new OpenLayers.LonLat(0, 0), 3);

                document.getElementById('noneToggle').checked = true;
            }

            function toggleControl(element) {
                for(key in drawControls) {
                    var control = drawControls[key];
                    if(element.value == key && element.checked) {
                        control.activate();
                    } else {
                        control.deactivate();
                    }
                }
            }

            function allowPan(element) {
                var stop = !element.checked;
                for(var key in drawControls) {
                    drawControls[key].handler.stopDown = stop;
                    drawControls[key].handler.stopUp = stop;
                }
            }

            function features()
            {
                
                x = document.getElementById("features_json"); 
                polyLayer = map.getLayersByName("Polygon Layer")[0];
                lasso = polyLayer.features[0].geometry;
                geometryString = new OpenLayers.Format.GeoJSON().write( polyLayer.features[0].geometry );
                
                x.innerHTML = geometryString;
                
            }

</script>
    </head>
    <body onload="init()">

        <div id="map" class="smallmap"></div>
    
        <ul id="controlToggle">
            <li>
                <input type="radio" name="type" value="none" id="noneToggle"
                       onclick="toggleControl(this);" checked="checked" />
                <label for="noneToggle">navigate</label>
            </li>
            <li>
                <input type="radio" name="type" value="polygon" id="polygonToggle" onclick="toggleControl(this);" />
                <label for="polygonToggle">draw polygon</label>
            </li>
            <li>
                <input type="checkbox" name="allow-pan" value="allow-pan" id="allowPanCheckbox" checked=true onclick="allowPan(this);" />
                <label for="allowPanCheckbox">allow pan while drawing</label>
            </li>
        </ul>

        <div id="docs">
            <p>With the polygon drawing control active, click on the map to add the points that make up your
            polygon.  Double-click to finish drawing.</p>
            <p>With any drawing control active, paning the map can still be achieved.  Drag the map as
            usual for that.</p>
        </div>
        <button type="button" onclick="features()">Features</button>
        <p>Features:</p>
        <p id="features_json"></p>
    </body>
</html>
