{% extends "base.html" %}
{% block body_classes %}full-screen{% endblock %}
{% block extra_css %}
  <link href="/static/stylesheets/vendor/ol.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}
{% block landregistry_content %}
  
 <div class="map">
  
  <div class="full-width">
    <div class="grid grid-3-4">
      <div class="ol-container"></div>
      <div class="map-info"></div>
    </div>
    <div class="grid grid-1-4">
      <p>You can also search by <a href="/map-lasso-search">defining an area on the map</a>.</p>
    </div>
  </div>

  
</div>  
{% endblock %}
{% block extra_js %}
  <script>
    window.LR.mapSearch = new window.LR.MapSearch({
      el: '.ol-container',
      infoEl: '.map-info',
      geoUrl: '{{ geo_url }}',
      postcodeCentre: {{ postcode_centre|safe }}
    });
  </script>
{% endblock %}
