{% extends "base.html" %}
{% block body_classes %}full-screen{% endblock %}
{% block extra_css %}
  <link href="/static/stylesheets/vendor/ol.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}
{% block landregistry_content %}
  <div class="map">
    <div class="ol-container"></div>
    <div class="map-info"></div>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="/static/javascripts/vendor/ol.js" type="text/javascript"></script>
  <script src="/static/javascripts/map-search.js" type="text/javascript"></script>
  <script>
    window.LR.mapSearch = new window.LR.MapSearch({
      el: '.ol-container',
      infoEl: '.map-info',
      geoUrl: '{{ geo_url }}',
    });
  </script>
{% endblock %}
