{% extends "base.html" %}
{% block body_classes %}full-screen{% endblock %}
{% block extra_css %}
  <link href="/static/stylesheets/vendor/ol.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}
{% block landregistry_content %}
  <div class="map-lasso-search">
  
  <div class="full-width">
    <div class="grid grid-3-4">
      <div class="ol-container"></div>
      <div class="map-info"></div>
    </div>
    <div class="grid grid-1-4">
      <button class=button onclick=search()>Search</button><br>    
      <p>Click on the map to add the points that make up a polygon.<br>Double-click to finish drawing.<br>Refresh the page to search again.</p>
    </div>
  </div>

  
</div>

{% endblock %}
{% block extra_js %}
  <script>

    var raster = new ol.layer.Tile({
    source: new ol.source.MapQuest({layer: 'sat'})
    });

    var source = new ol.source.Vector();

    var vector = new ol.layer.Vector({
      source: source,
      name: "Polygon Layer",
      style: new ol.style.Style({
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        }),
        stroke: new ol.style.Stroke({
          color: '#ffcc33',
          width: 2
        }),
        image: new ol.style.Circle({
          radius: 7,
          fill: new ol.style.Fill({
            color: '#ffcc33'
          })
        })
      })
    });

    window.LR.mapLassoSearch = new window.LR.MapLassoSearch({
      el: '.ol-container',
      infoEl: '.map-info',
      geoUrl: '{{ geo_url }}'
    });

    var lasso;
    var draw; // global so we can remove it later
    function addInteraction() {
      draw = new ol.interaction.Draw({
        source: source,
        type: 'Polygon'
      });
      window.LR.mapLassoSearch.map.addInteraction(draw);
    }

    function search()
    {
        
        var layers = window.LR.mapLassoSearch.map.getLayers();
        var polyLayer = null;
        window.LR.mapLassoSearch.map.getLayers().forEach(function(layer) {
          if (layer.get('name') == 'Polygon Layer') {
             polyLayer = layer;
          }
        });
        source = polyLayer.getSource();
        features = source.getFeatures();
        var format = new ol.format.GeoJSON();
        featureGeoJSON = format.writeFeature(features[0]); 
        geometryGeoJSON = featureGeoJSON['geometry'];
        geometry4326String = JSON.stringify( geometryGeoJSON);               
        lasso = geometry4326String;
        
        window.LR.mapLassoSearch.search();
        window.LR.mapLassoSearch.map.removeInteraction(draw);
    }

    addInteraction(); 


  </script>
{% endblock %}
