{% extends "base.html" %}
{% block content %}
  <div class="my-property">
    <div class="row">
      <div class="inner-block">
        <h1>My property</h1>
      </div>
    </div>

    <div class="row">
      <div class="metadata">
        <div class="inner-block">
          <div class="address">
            <p>13 Augustine Way</p>
            <p>Kerwick</p>
            <p>PL14 3JP</p>
          </div>
          <dl>
            <dt>Council</dt>
            <dd>Cornwall</dd>
            <dt>Owner</dt>
            <dd>Paul John Dawkins</dd>
            <dt>Type</dt>
            <dd>Semi-detached house</dd>
            <dt>Title number</dt>
            <dd>CS72510</dd>
          </dl>
        </div>
      </div>

      <div class="map">
        <div class="inner-block">
          <img src="/static/images/map.png">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
