{% extends "base.html" %}
{% block content %}
  <div class="my-property">
    <div class="heading-row">
      <div class="inner-block">
        <h1>My property</h1>
      </div>
    </div>

    <div class="row">
      <div class="metadata">
        <div class="inner-block">
          <div class="address">
            <p>13 Augustine Way</p>
            <p>Kerwick</p>
            <p>PL14 3JP</p>
          </div>
          <dl>
            <dt>Council</dt>
            <dd>Cornwall</dd>
            <dt>Owner</dt>
            <dd>Paul John Dawkins</dd>
            <dt>Type</dt>
            <dd>Semi-detached house</dd>
            <dt>Title number</dt>
            <dd>CS72510</dd>
          </dl>
        </div>
      </div>

      <div class="map">
        <div class="inner-block">
          <img src="/static/images/map.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="dashboard bloc">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Council tax band</h2>
            <div class="data-good data-small">
              A
            </div>
            <a href="#">Pay your council tax</a>
          </div>
          <div class="dashboard-item">
            <h2>Flood risk</h2>
            <div class="data-bad data-small">
              high
            </div>
            <a href="#">View flood warnings</a>
          </div>
          <div class="dashboard-item">
            <h2>Energy performance</h2>
            <div class="data-good data-small">
              B
            </div>
            <a href="#">View energy report</a>
          </div>
          <div class="dashboard-item">
            <h2>Something else</h2>
            <div class="data-small">
              437
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="block actions">
        <div class="inner-block">
          <h2>Common tasks</h2>
          <ul>
            <li><a href="#">Change your details</a></li>
            <li><a href="#">Sign up for alerts</a></li>
            <li><a href="#">Pay your council tax</a></li>
            <li><a href="#">Authorise a solicitor</a></li>
          </ul>
        </div>
      </div>
      <div class="historical-information block">
        <div class="inner-block">
          <h2>Historical information</h2>
          <ul>
            <li><a href="#">Purchase prices</a></li>
            <li><a href="#">Boundary changes and historical maps</a></li>
            <li><a href="#">Previous owners</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="block">
        <div class="inner-block">
          <h2>Things which affect your property</h2>
          <p>There is a passageway passing through your property. <a href="#">Read full restriction on the register</a></p>
          <p>You can't sell your property without the permission of Weyford Building Society. <a href="#">View mortgage details</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="activity block">
        <div class="inner-block">
          <h2>Activity</h2>
          <ul>
            <li>
              <h3>15th September 2013</h3>
              <p>Jo Cheng ordered an office copy</p>
            </li>
            <li>
              <h3>2nd September 2013</h3>
              <p>Jenny Peters ordered an office copy</p>
            </li>
            <li>
              <h3>4th March 2009</h3>
              <p>S A Carr &amp; Co transferred the title from Angela Smith to Paul John Dawkins</p>
            </li>
            <li>
              <h3>18th January 2009</h3>
              <p>S A Carr &amp; Co ordered an official search</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="mortgages block">
        <div class="inner-block">
          <h2>Current mortgages</h2>
          <table class="table">
            <tr>
              <th>Date</th>
              <th>Lender</th>
            </tr>
            <tr>
              <td>15 July 2002</td>
              <td>Weyford Building Society</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
