{% extends "base.html" %}
{% block content %}
  <div class="my-property">
    <div class="heading-row">
      <div class="inner-block">
        <h1>My property</h1>
      </div>
    </div>

    <div class="row">
      <div class="metadata">
        <div class="inner-block">
          <div class="address">
            <p>13 Augustine Way</p>
            <p>Kerwick</p>
            <p>PL14 3JP</p>
          </div>
          <dl>
            <dt>Council</dt>
            <dd>Cornwall</dd>
            <dt>Owner</dt>
            <dd>Paul John Dawkins</dd>
            <dt>Type</dt>
            <dd>Semi-detached house</dd>
            <dt>Title number</dt>
            <dd>CS72510</dd>
          </dl>
        </div>
      </div>

      <div class="map">
        <div class="inner-block">
          <img src="/static/images/map.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="inner-block actions">
        <ul>
          <li><a href="#">Change your details</a></li>
          <li><a href="#">Sign up for alerts</a></li>
          <li><a href="#">Pay your council tax</a></li>
          <li><a href="#">Authorise a solicitor</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="inner-block">
        <h2>Things which affect your property</h2>
        <p>There is a passageway passing through your property. <a href="#">Read full restriction on the register</a></p>
        <p>You can't sell your property without the permission of HSBC Bank. <a href="#">View mortgage details</a></p>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="dashboard">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Council tax</h2>
            <div class="data-good data-small">
              A
            </div>
          </div>
          <div class="dashboard-item">
            <h2>Flood risk</h2>
            <div class="data-bad data-small">
              high
            </div>
          </div>
          <div class="dashboard-item">
            <h2>Crime risk</h2>
            <div class="data-good data-small">
              low
            </div>
          </div>
          <div class="dashboard-item">
            <h2>Water provider</h2>
            <div class="data-small">
              Thames Water
            </div>
          </div>
        </div>
      </div>
    </div>
    -->



  </div>
{% endblock %}
