{% extends "base.html" %}
{% block content %}
  <div class="my-property">
    <div class="heading-row">
      <div class="inner-block">
        <h1>Your property</h1>
      </div>
    </div>

    <div class="row">
      <div class="metadata">
        <div class="inner-block">
          <div class="address">
            <p>13 Isleworth Road</p>
            <p>Exeter</p>
            <p>EX4 1QU</p>
          </div>
          <dl>
            <dt>Council</dt>
            <dd>Exeter City Council</dd>
            <dt>Owner</dt>
            <dd>Paul John Dawkins</dd>
            <dt>Type</dt>
            <dd>Semi-detached house</dd>
            <dt>Title number</dt>
            <dd>CS72510</dd>
            <dt>Price paid</dt>
            <dd>£178,000 (4th March 2009)</dd>
          </dl>
        </div>
      </div>

      <div class="map">
        <div class="inner-block">
          <img src="/static/images/map.png">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="things block">
        <div class="inner-block">
          <h2>Things which affect your property</h2>
          <ul class="list-bullet">
            <li>There is a passageway passing through your property. <a href="#">Read full restriction on the register</a></li>
            <li>You can't build anything taller than 60 feet. <a href="#">Read full restriction on the register</a></li>
            <li>You're in a conservation area so there may be restrictions on what you can do with your property. <a href="#">Find out more</a></li>
            <li>You can't sell your property without the permission of Weyford Building Society. <a href="#">View mortgage details</a></li>
          </ul>
        </div>
      </div>
      <div class="block actions">
        <div class="inner-block">
          <h2>Common tasks</h2>
          <ul>
            <li><a href="#">Change your details</a></li>
            <li><a href="#">Sign up for alerts</a></li>
            <li><a href="#">Pay your council tax</a></li>
            <li><a href="#">Authorise a solicitor</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="dashboard bloc">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Council tax band</h2>
            <div class="data-good data-small">
              A
            </div>
            <a href="#">What does this mean?</a>
          </div>
          <div class="dashboard-item">
            <h2>Flood risk</h2>
            <div class="data-bad data-small">
              high
            </div>
            <a href="#">View flood warnings</a>
          </div>
          <div class="dashboard-item">
            <h2>Energy performance</h2>
            <div class="data-good data-small">
              B
            </div>
            <a href="#">View energy report</a>
          </div>
          <div class="dashboard-item">
            <h2>Bin day</h2>
            <div class="data-small">
              Monday
            </div>
            <a href="#">View calendar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mortgages block">
        <div class="inner-block">
          <h2>Current mortgages</h2>
          <table class="table">
            <tr>
              <th>Date</th>
              <th>Lender</th>
            </tr>
            <tr>
              <td>15 July 2002</td>
              <td>Weyford Building Society</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
  </div>

    <div class="row">
      <div class="activity block">
        <div class="inner-block">
          <h2>Activity</h2>
          <ul>
            <li>
              <h3>15th September 2013</h3>
              <p>Office copy ordered</p>
            </li>
            <li>
              <h3>2nd September 2013</h3>
              <p>Office copy ordered</p>
            </li>
            <li>
              <h3>4th March 2009</h3>
              <p>The title from Angela Smith to Paul John Dawkins</p>
            </li>
            <li>
              <h3>18th January 2009</h3>
              <p>Official search ordered</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="historical-information block">
        <div class="inner-block">
          <h2>Authorised solicitors</h2>
          <p>These solicitors can manage this property on your behalf:</p>
          <ul class="list-bullet">
            <li><strong>Hart Brown Solicitors</strong></li>
          </ul>
          <p><a href="#">Authorise a new solicitor</a></p>
        </div>
      </div>


      <div class="historical-information block">
        <div class="inner-block">
          <h2>Historical information</h2>
          <ul>
            <li><a href="#">Purchase prices</a></li>
            <li><a href="#">Boundary changes and historical maps</a></li>
            <li><a href="#">Previous owners</a></li>
          </ul>


          <h2>Related documents</h2>
          <ul>
            <li><a href="#">Register of title</a></li>
            <li><a href="#">Title plan</a></li>
            <li><a href="#">Lease</a></li>
            <li><a href="#">Title deed (1826)</a></li>
          </ul>
        </div>
      </div>

      <div class="related-documents block">
        <div class="inner-block">

        </div>
      </div>


    </div>

  </div>
{% endblock %}
