<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Official copy of the register for title number HS18112</title>
<script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script><!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-dd196f08161d09d80ddc355d76d903b5.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie6-f2ad8f875bd6e49ba3f54c86c834068b.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie7-e18ae2b8dd6e08e446fe6e5aef0c6f53.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie8-b915d8b43621788a4e21fe6e06a5e10c.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-print-e8347470022aae909a6076606e53d420.css" media="print" rel="stylesheet" type="text/css">
<!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-ec274e547d95d22db00164cc291c8611.css"]},
       c="https://assets.digital.cabinet-office.gov.uk/static/vendor/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]--><!--[if gte IE 9]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/fonts-607c54f71c7c1f98257595cedaa13a34.css" media="all" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if lt IE 9]>
      <script src="https://assets.digital.cabinet-office.gov.uk/static/ie-fc5bd25c5f46587b9bff917417ab2b7f.js" type="text/javascript"></script>
    <![endif]--><link rel="shortcut icon" href="https://assets.digital.cabinet-office.gov.uk/static/favicon-447e4ac1ab790342660eacfe3dcce264.ico" type="image/x-icon">
<!-- For third-generation iPad with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-144x144-770262db230773585bf296beba8199d2.png">
<!-- For iPhone with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-114x114-9f79cf0e3a893167a6f176e65df67648.png">
<!-- For first- and second-generation iPad: --><link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-72x72-bd1a39be9fe7b871dd2b3b6d04abc6c4.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: --><link rel="apple-touch-icon-precomposed" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-57x57-21e7fa2c450cf9afbc07a4d48a80d12e.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://assets.digital.cabinet-office.gov.uk/static/opengraph-image-85fc698c83c77d8d8cb5467a44cc12a5.png">
<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-3a50bb1e3757668f9acd471f71881c87.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie6-6723ebfea7401c36118b612080d6cda5.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie7-b871df03d58ab4988a5baa214f7d3d0e.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie8-ec77e04b0e6fce1d8b7d73165dd5bcff.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/static/print-7bad901b32df5344e949e8b2365568ce.css" media="print" rel="stylesheet" type="text/css">
<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-a8508fe7ebae8b4b958b571877777471.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/print-48357c1b450ddcf4d47b3f66caad2748.css" media="print" rel="stylesheet" type="text/css">
<link href="https://www.gov.uk/government/feed" rel="alternate" title="Recent updates" type="application/atom+xml">
<meta content="True" name="HandheldFriendly">
<meta content="320" name="MobileOptimized">
<meta content="authenticity_token" name="csrf-param">
<meta content="OolCX45RwAE7igvK2P7a7XtlvQUzde/K6khEKCzDAnA=" name="csrf-token">
<!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-ie6-67cdb6e2232f3e0c13bd640e30113df4.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-ie7-14c36223e6bd838a26d5473be6a2eceb.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-ie8-26f693d6bc563369f360272b4a1fef4d.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 8;</script><![endif]-->
<style>
ins {
    background-color: #c6ffc6;
    text-decoration: none;
}
del {
    background-color: #ffc6c6;
}
</style>
<link href="/static/stylesheets/vendor/ol.css" media="all" rel="stylesheet" type="text/css">
</head>
<body class="website government html-publication">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <header role="banner" id="global-header" class=""><div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
</div>
  <input type="hidden" name="tab" value="government-results">
</form>

        </div>
      </div>
    </header><!--end header-->
  <div class="header-context group"><!-- deliberately empty --></div>

  <div id="whitehall-wrapper">
  <main id="content" role="main" class="whitehall-content"><div id="page" class="html-publications-show">
<div class="block publication-external">
  <div class="inner-block floated-children">
  </div>
</div>
<header class="publication-header" id="contents"><div class="inner-block floated-children">
    <div class="headings">
      <p class="document-type">Land Registry</p>
      <h1>Official copy of the register for title number <a href="/properties/{{ title['title_number'] }}">{{ title['title_number'] }}</a></h1>

      <div style="width: 80%; margin-bottom: 30px">
      <span style="color: white">
      <strong>Address:</strong>
       <span style="color: white" class="adr">
        <span class="street-address">{{ title['address'][0] }}, </span>
        <span class="locality">{{ title['address'][1] }}{% if title['address'][2] %}, {% endif %}
        </span>
        <span class="region">{{ title['address'][2] }}</span>
        {% if title['postcode'] %}<span class="postal-code">{{ title['postcode'] }}</span>{% endif %}
       </span>
      </span><br/>
       <span style="color: white"><strong>Price stated:</strong> 
       {% if title['price_paid'] %} 
         &pound;{{ title['price_paid'] }} 
       {% else %}
         None stated
       {% endif %}
       </span><br/>
       <span style="color: white"><strong>Registered owner(s):</strong> 
      {% for proprietor in title['proprietors'] %}
        {% if proprietor.name %}
        {{ proprietor.name }} of
        {% endif %}
        {% for line in proprietor.address %} {{ line }} {% endfor %}
        {{ proprietor.postcode}}
        {% if loop.index != title['proprietors']|length %} and {% endif %}
      {% endfor %}
      {{ title[''] }}</span><br/>
      {% if title['lenders']|length != 0 %}
       <span style="color: white"><strong>Lender(s):</strong>
      {% for lender in title['lenders'] %}
        {{ lender.text }}
        {% endfor %}
      {% endif %}
        </span><br/>
    </div>
    </div>

    <nav class="in-page-navigation"><h2>Contents</h2>
      <ol>
          <li><a href="#about-this-document">About this document</a></li>
          <li>
             <ol>
             <li style="list-style-type: upper-alpha"><a href="#property-register">Property register ({{ title['property_register']|length }} entries)</a></li>
            <li style="list-style-type: upper-alpha">
              <a href="#proprietorship-register"
              >Proprietorship register
                ({{ title['proprietorship_register']|length }}
                {% if title['proprietorship_register']|length %}
                entries,
                {% if title['restrictive_proprietorship']|length %}
                  {{ title['restrictive_proprietorship']|length }} restrictive)
                {% endif %}
              {% else %}
                entries)
               {% endif %}

              </a></li>
            <li style="list-style-type: upper-alpha">
              <a href="#charges-register">
              Charges register
              ({{ title['charges_register']|length }}
              {% if title['restrictive_charges']|length %}
                entries,
                {% if title['restrictive_charges']|length %}
                  {{ title['restrictive_charges']|length }} restrictive)
                {% endif %}
              {% else %}
                entries)
              {% endif %}
              </a></li>
            </ol>
          </li>
          <li><a href="#title-plan">Title plan</a></li>
          <li><a href="#related-documents">Related documents</a></li>
          <li><a href="#history">History of the title</a></li>
      </ol>
    </nav>
</div>
</header>
<div class="block publication-content">
  <div class="inner-block floated-children">
    <div class="govspeak">
      <p>Note: This is a demonstration, and not an official copy of the register.</p>

    <h2 id="about-this-document">1. About this document</h2>
    <p>
      An official copy of the register, admissible in evidence in a court to the same extent as the original. A person is entitled to be indemnified by the registrar if he suffers loss by reason of a mistake in an official copy.</p>
      <p>This extract shows information current on <abbr class="published-at date" title="{{ title['official_copy_date'] }}">{{ title['official_copy_date'] }}</abbr> and does not take account of any application made after that time even if pending in the Land Registry when this extract was issued.
    </p>

    <h2 id="property-register">2A. Property register</h2>
    <p style="font-weight: bold">This register describes the land and estate comprised in the title. Except as mentioned below, the title includes any legal easements granted by the registered lease but is subject to any rights that it reserves, so far as those easements and rights exist and benefit or affect the registered land.</p>
      <ol>
      {% for entry in title['property_register'] %}
        <li class="entry" style="margin-bottom: 10px">
        {% if entry.type %}
        <span style="font-weight: bold">{{ entry.type }}</span><br/>
        {% endif %}
        {{ entry.text|replace("\n", "<br>")|safe }}
<!--         {% if entry.date %}
        <br/><span style="font-size: 16px">Added <a href="#history-1">{{ entry.date|safe }}</a>.</span>
        {% endif %} -->
        </li>
      {% endfor %}
       </ol>

      <h2 id="proprietorship-register">2B. Proprietorship register</h2>
      <p style="font-weight: bold">This register specifies the class of title and identifies the owner. It contains any entries that affect the right of disposal.</p>
      <ol>
      {% for entry in title['proprietorship_register'] %}
        <li class="entry" style="margin-bottom: 10px">
        {% if entry.type %}
        <span style="font-weight: bold">{{ entry.type }}</span><br/>
        {% endif %}
        {{ entry.text|replace("\n", "<br>")|safe }}
<!--         {% if entry.date %}
        <br/>Added <a href="#history-3">{{ entry.date|safe }}</a>.
        {% endif %} -->
        </li>
      {% endfor %}
      </ol>

      <h2 id="charges-register">2C. Charges register</h2>

      <p style="font-weight: bold">This register contains charges and any other matters that affect the land.</p>
      <ol>
      {% for entry in title['charges_register'] %}
        <li class="entry" style="margin-bottom: 10px">
        {% if entry.type %}
        <span style="font-weight: bold">{{ entry.type }}</span><br/>
        {% endif %}
        {{ entry.text|replace("\n", "<br>")|safe }}
<!--         {% if entry.date %}
        <br/>Added <a href="#history-3">{{ entry.date|safe }}</a>.
        {% endif %} -->
        </li>
      {% endfor %}
      </ol>

      <h2 id="title-plan">3. Title plan</h2>

      <p> This extract shows information current at <abbr class="published-at date" title="{{ title['official_copy_date'] }}">{{ title['official_copy_date'] }}</abbr> and does not take account of any application made after that time even if pending in the Land Registry when this extract was issued.</p>

      <div class="map" style="margin-bottom: 10px">
        <div id="map" class="inner-block" style='height: 500px'></div>
      </div>

      <h2 id="related-documents">4. Related documents</h2>

      <p>Scans of documents related to title number {{ title['title_number'] }} held in the register.</p>

      <h4 id="related-documents-1">14th November 1998</h4>

      <img src="/static/images/current-register.png" alt="Scanned document 1" style="width: 200px; border: 1px solid #ccc" />
      <img src="/static/images/draft-register.png" alt="Scanned document 2" style="width: 200px; border: 1px solid #ccc" />

      <h4 id="related-documents-2">3rd July 1998</h4>

      <img src="/static/images/map.png" alt="Scanned document 2" width="200" style="width: 200px; border: 1px solid #ccc" />

      <h2 id="history">5. History of the title</h2>

      <p><strong>16 additions and 8 deletions between 1st November 1933 and 15th September 2013.</strong></p>

      <h4 id="history-1">15th September 2013</h4>
      <p>33 words deleted in section 2B (Proprietorship register).</p>
      <div id="wrapper">
          <table>
              <thead>
                  <tr>
                      <th style="width: 10%">Section</th>
                      <th style="width: 30%">Change</th>
                      <th style="width: 30%">Original version</th>
                      <th style="width: 30%">New version</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="section" style="font-weight: bold">2B (Proprietorship register)</td>
                       <td class="diff"></td>
                      <td class="original">ROBERT WHITEMAN SMITH and ALEXINA RACHEL MARGARET SMITH both of 31 Hilland Avenue, Sutton, Marsden, Herefordshire. <br/>CASTLEBEG INVESTMENTS (JERSEY) LIMITED of First Floor, Lloyds Bank Building, 11/13 Victoria Street, Liverpool, L2 5QQ.</td>
                      <td class="changed">ROBERT WHITEMAN SMITH and ALEXINA RACHEL MARGARET SMITH both of 31 Hilland Avenue, Sutton, Marsden, Herefordshire.</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <h4 id="history-2">12th July 1995</h4>
      <p>33 words added in Section 2C (Charges register).</p>
      <div id="wrapper">
          <table>
              <thead>
                  <tr>
                      <th style="width: 10%">Section</th>
                      <th style="width: 30%">Change</th>
                      <th style="width: 30%">Original version</th>
                      <th style="width: 30%">New version</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="section" style="font-weight: bold">2C (Charges register)</td>
                       <td class="diff"></td>
                      <td class="original">A Conveyance of the freehold estate in the land tinted pink on the filed plan dated 1 June 1847 made between (1) The Reverend Samuel William Hall (2) William Foale and James Jones (3) Richard Grasby the Younger and (4) Charles Alfred Lee contains restrictive covenants but neither the original deed nor a certified copy or examined abstract thereof was produced on first registration.
A Conveyance of the freehold estate in the land tinted blue on the filed plan dated 14 September 1847 made between (1) The Reverend Foale and James Jones (2) William Good and (3) Hunter Estill contains restrictive covenants but neither the original deed nor a certified copy or examined abstract thereof was produced on first registration.
The freehold estate in the land tinted yellow on the filed plan is subject to such restrictive covenants as may have been imposed thereon before 10 April 1948 and are still subsisting and capable of being enforced.
The parts of the land affected thereby are subject to the leases set out in the schedule of leases hereto.
The leases grant and reserve easements as therein mentioned.</td>
                      <td class="changed">An Agreement dated 12th July 1995 made between (1) The Yorkshire Electricity Board and (2) The Associated Portland Cement Manufacturers Limited relates to the supply of electricity. NOTE: Copy filed.
A Conveyance of the freehold estate in the land tinted pink on the filed plan dated 1 June 1847 made between (1) The Reverend Samuel William Hall (2) William Foale and James Jones (3) Richard Grasby the Younger and (4) Charles Alfred Lee contains restrictive covenants but neither the original deed nor a certified copy or examined abstract thereof was produced on first registration.
A Conveyance of the freehold estate in the land tinted blue on the filed plan dated 14 September 1847 made between (1) The Reverend Foale and James Jones (2) William Good and (3) Hunter Estill contains restrictive covenants but neither the original deed nor a certified copy or examined abstract thereof was produced on first registration.
The freehold estate in the land tinted yellow on the filed plan is subject to such restrictive covenants as may have been imposed thereon before 10 April 1948 and are still subsisting and capable of being enforced.
The parts of the land affected thereby are subject to the leases set out in the schedule of leases hereto.
The leases grant and reserve easements as therein mentioned.</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <h4 id="history-3">3rd December 1998</h4>
      <p>44 words added and 22 words deleted in section 2B (Proprietorship register).</p>
      <div id="wrapper">
          <table>
              <thead>
                  <tr>
                      <th style="width: 10%">Section</th>
                      <th style="width: 30%">Change</th>
                      <th style="width: 30%">Original version</th>
                      <th style="width: 30%">New version</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="section" style="font-weight: bold">2B (Proprietorship register)</td>
                      <td class="diff"></td>
                      <td class="original">PHILIP ANDREW MARTIN KEEGAN of 31 Hilland Avenue, Sutton, Marsden, Herefordshire.</td>
                      <td class="changed">ROBERT WHITEMAN SMITH and ALEXINA RACHEL MARGARET SMITH both of 31 Hilland Avenue, Sutton, Marsden, Herefordshire. <br/>CASTLEBEG INVESTMENTS (JERSEY) LIMITED of First Floor, Lloyds Bank Building, 11/13 Victoria Street, Liverpool, L2 5QQ.</td>
                  </tr>
              </tbody>
          </table>
      </div>

        </div>
      </div>

    </div>


      <div class="js-back-to-content back-to-content">
<!--       <ol style="list-style-type: none">
        <li>1. About this document</li>
        <li>2A. Property register</li>
        <li>2B. Proprietorship register</li>
        <li>2C. Charges register</li>
        <li>3. Title plan</li>
        <li>4. History of the title</li>
        </ol> -->
        <a href="#contents">Back to contents</a>
      </div>
      <div class="js-back-to-content-stop"></div>

  </div>



  </main>
</div>

    <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="footer-wrapper">
        <div class="footer-meta">
          <div class="footer-meta-inner">
            <div class="open-government-licence">
              <h2><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence</a></h2>
              <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence v2.0</a>, except where otherwise stated</p>
            </div>
          </div>
          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>
    <script src="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-1d29c0379552e7f7ab67500dea47df2d.js" type="text/javascript"></script>
    <script src="https://assets.digital.cabinet-office.gov.uk/static/libs/jquery/jquery-1.7.2-2ce4706f8f7193defaa9e7df2b641e9a.js" type="text/javascript"></script>
    <script src="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-b786915b9d42b621d5e99cd1e8021899.js" type="text/javascript"></script>
    <script src="https://assets.digital.cabinet-office.gov.uk/government/assets/application-c1f5ccdd9f520f928379957812f55971.js" type="text/javascript"></script>

  <script src="/static/javascripts/vendor/ol.js" type="text/javascript"></script>
  <script src="/static/javascripts/map-search.js" type="text/javascript"></script>
  <script src="/static/javascripts/single-extent-map.js" type="text/javascript"></script>
  <script src="/static/javascripts/vendor/diff_match_patch.js" type="text/javascript"></script>
  <script src="/static/javascripts/vendor/pretty-text-diff.js" type="text/javascript"></script>


{% block extra_js %}
  <script>

    // Set up map.
    window.LR.extentMap = new LR.SingleExtentMap({
      el: '#map',
      extent: {{ title_extent_json|safe }},
      zoom: 19
    });

    // Add links to title plans etc.
    $( "li.entry" ).html(function() {
      var html = $(this).html().replace("title plan", "<a href='#title-plan'>title plan</a>");
      html = html.replace("plan of the above Title", "<a href='#title-plan'>plan of the above Title</a>");
      html = html.replace("plan of the above title", "<a href='#title-plan'>plan of the above title</a>");

      html = html.replace("NOTE: Copy filed.", "NOTE: Copy filed. <a href='#related-documents-1'>View related documents</a>");
      html = html.replace("\u00c2\u00a3", "&pound;");
      return html;
    });

    // Set up text diffs.
    $('#wrapper tr').prettyTextDiff({
    });
  </script>
{% endblock %}

</body>
</html>
