  {% extends "base.html" %}
  {% block landregistry_grid %}

  <div class="property grid-wrapper">

    <div class="grid-row">
      <div class="grid">
        <div class="inner-block">
          <h1>Property details</h1>
        </div>
      </div>
      <div class="grid grid-1-2">
        <div class="inner-block">
          <div class="metadata">
            <div class="address">
              <p>{{ title["address"] }}</p>
            </div>
            <dl>
              <dt>Council</dt>
              <dd>Harlow City Council</dd>
              <dt>Owner</dt>
              <dd>Ms Fiona Wright</dd>
              <dt>Type</dt>
              <dd>Semi-detached house</dd>
              <dt>Title number</dt>
              <dd>{{ title["title_number"] }} </dd>
              <dt>Price paid</dt>
              <dd>£178,000 (4th March 2009)</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="grid grid-1-2">
        <div class="map">
          <div id="map" class="inner-block"></div>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid grid-1-4">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Council tax band</h2>
            <div class="data-good data-small">
              A
            </div>
            <a href="#">What does this mean?</a>
          </div>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Flood risk</h2>
            <div class="data-bad data-small">
              high
            </div>
            <a href="#">View flood warnings</a>
          </div>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Energy performance</h2>
            <div class="data-good data-small">
              B
            </div>
            <a href="#">View energy report</a>
          </div>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <div class="dashboard-item">
            <h2>Building status</h2>
            <p class="data-text">Grade 2 listed</p>
            <p>Planning application agreed</p>
            <a href="#">View status</a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid grid-2-3">
        <div class="inner-block">

          <h2 class="heading-36">Things that affect this property</h2>
          <p class="grid-space">
            There may be rights and restrictions on this property held by either the local authority or the land registry.
          </p>

          <h3 class="heading-19">
            What you can and can't do to this property according to the Land Registry
          </h3>

          <p class="list-lead-in">For more detail, log in to <a href="/experian-ida-sign-in?title_number={{ title['title_number'] }}">view the full register</a></p>
          <ul class="list-bullet grid-space">
            <li>There are three restrictions (restrictive covenants) affecting the property.</li>
            <li>There are rights of way affecting this property</li>
            <li>This property has a right of way over another property</li>
            <li>The current lease started on 12/11/2003 and is for 999 years</li>
            <li>This property has exclusive use of the parking space tinted blue above</li>
            <li>Consent to purchase will be required from Weyford Building Society</li>
          </ul>


          <h3 class="heading-19">
            What you can and can't do to this property according to the local authority
          </h3>
          <p>For more detail, <a href="#">contact the local authority</a></p>

          <ul class="list-bullet grid-space">
            <li>This is a listed building, so there maybe restrictions on what can be done with it.</li>
            <li>There is a proposed tree perservation order on a tree in your garden</li>
            <li>This property is in a conservation area so there may be restrictions on what can be done with it</li>
          </ul>

          <h3 class="heading-24">Planning applications</h3>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12/06/2015</td>
                <td>Erection of rear roof extensions</td>
                <td>Approved</td>
              </tr>
              <tr>
                <td>24/02/2015</td>
                <td>Erection of rear roof extensions</td>
                <td>Rejected</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <!-- Documents available -->
    <div class="grid-row">
      <div class="grid">
        <div class="inner-block">

          <h2 class="heading-24 no-top-margin">Documents and further information</h2>
          <ul>
            <li><a href="#todo">Official copy of register</a></li>
            <li><a href="#">Deeds</a></li>
            <li><a href="#">Related land</a></li>
            <li><a href="#">Title history</a></li>
          </ul>

        </div>
      </div>
    </div>

  </div>
  {% endblock %}

  {% block extra_js %}
    <script>
      window.LR.extentMap = new LR.SingleExtentMap({
        el: '#map',
        extent: {{ title_extent_json|safe }},
      });
    </script>
  {% endblock %}
