{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block landregistry_grid %}

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/">Find a property</a></li>
    </ol>
  </nav>
</div>

<div class="search">

  <div class="text full-width">

    <form action="/search" method="get">

      <div class="form-group">
        <label class="form-label" for="q">Search the land registry</label>
        <p class="form-hint">E.g. postcode, city or town, street name</p>
        <input type="text" class="form-control" id="q" name="q" />
        <button type="submit" class="button">Search</button>
      </div>

    </form>

  </div>

  <div class="text full-width">
    <h1>Search results for &ldquo;{{search_term}}&rdquo;</h1>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      {% if titles %}
        <ul class="results" id="ordered">
        {% for title in titles %}
          <li class="result" onclick="myFunction(this.id)">{{ title['searlised_extent']|safe }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="grid grid-1-2">
      <div class="map">
        <div id="map" class="inner-block"></div>
      </div>
    </div>  
  </div>
  <div class="text full-width">
    <p>
      <a href="/search-map-results?place={{search_term}}">View </a> the search results on a map for &ldquo;{{search_term}}&rdquo;
    </p>
  </div>

</div>

{% endblock %}

{% block extra_js %}
  <script>
    window.LR.extentMap = new LR.SingleExtentMap({
      el: '#map',
      extent: {{ title_extent_json|safe }},
    });
  
    $('#ordered li').each(function(i,el){
      el.id = i+1;
    });

  function myFunction(id)
  {
      
    console.log(document.getElementById(id).innerHTML);
    var myObject = eval('(' + document.getElementById(id).innerHTML + ')');
    window.LR.extentMap.setExtent( myObject );
    window.LR.extentMap.setCenter( myObject );
  }

  </script>

 

{% endblock %}