{% extends "base.html" %}
{% block landregistry_grid %}
  <div class="breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Sell your property</li>
       </ol>
    </nav>
  </div>
  <div class="sell-ida">
      <div class="text full-width">
        <h1 class="heading-48">
          Authorise a solicitor
        </h1>
        <div id="eligibility-check">
          <p>
            You can authorise your solicitor or conveyancer to update the land registry on your behalf when selling a property.
          </p>
          <h2 class="before">Before you start</h2>
          <p>
            You must:
          </p>
          <ul class="list-bullet">
            <li>have talked to your conveyancer or solicitor</li>
          </ul>
        </div>

        <div class="section example">
                        <div class="register-signin-container">
                            <h2>Sign in to GOV.UK</h2>
                            <h3>
                                <span class="light1">To </span>
                                <span class="transaction-name">Renew your driving licence</span>
                                <!-- %span.light1 and other government services, -->
                                <span class="light2">you must prove your identity using an identity profile.</span>
                            </h3>
                            <div class="register-box">
                                <p id="get-started" class="get-started"><a href="/register?requestId=dvla" rel="" class="button">Register now</a>
                                </p>
                            </div>
                            <div class="signin">
                                <div id="js-signin" class="get-started js-show">
                                    <p><a href="#" rel="external" class="button" onclick="PrototypeApp.signIn(event)">Sign in</a></p>
                                </div>
                                <div id="js-idp-sign-list" class="idp-forms">
                                    <form method="post" action="/register-signin?requestId=dvla" class="idp-option">
                                        <button type="submit" name="idpId" value="experian"><img src="/static/images/experian.png" alt="Logo of Experian" title="Experian" class="logo" height="40"></button>
                                        <input name="request_id" value="dvla" type="hidden">
                                    </form>
                                    <form method="post" action="/register-signin?requestId=dvla" class="idp-option">
                                        <button type="submit" name="idpId" value="digidentity"><img src="/static/images/digidentity.png" alt="Logo of Digidentity" title="Digidentity" class="logo" height="40"></button>
                                        <input name="request_id" value="dvla" type="hidden">
                                    </form>
                                    <form method="post" action="/register-signin?requestId=dvla" class="idp-option">
                                        <button type="submit" name="idpId" value="post-office"><img src="/static/images/post-office.png" alt="Logo of Post Office" title="Post Office" class="logo" height="40"></button>
                                        <input name="request_id" value="dvla" type="hidden">
                                    </form>
                                    <form method="post" action="/register-signin?requestId=dvla" class="idp-option">
                                        <button type="submit" name="idpId" value="verizon"><img src="/static/images/verizon.png" alt="Logo of Verizon" title="Verizon" class="logo" height="40"></button>
                                        <input name="request_id" value="dvla" type="hidden">
                                    </form>
                                    <div class="government-gateway"><img src="/assets/images/govuk/government-gateway-logo.png" alt="" class="logo" height="30">
                                        <p>Government Gateway accounts can't be used with this service. Please <a href="/register?requestId=dvla" rel="">register for an identity profile</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

     </div>
  </div>
{% endblock %}
