<html>
  <head>
    <title>Sign in</title>
  </head>
  <body style="font-size:16px; text-align:center;padding-top:30px">
    <h1>FAKE IDA SIGN IN</h1>
    <form action="" method="post">
      <select name="user">
          <option value=""></option>
          <option value="buyer">Buyer</option>
          <option value="seller">Seller</option>
          <option value="buyer-solicitor">Buyer's solicitor</option>
          <option value="seller-solicitor">Seller's solicitor</option>
      </select>
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
