{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/solicitors/case-list">For solicitors and conveyancers</a></li>
       </ol>
    </nav>
    <div align="right">
      Logged in as solicitor: <a href="#">David Jennings</a><br>
    </div>
  </div>

  <div class="solicitor-initiate-exchange">

    <div class="text full-width">

      <h1 class="heading-48">
        <span class="heading-27">Land registry</span>
        Initiate electronic exchange
      </h1>

    </div>

    <div class="text full-width">
      <p class="lede">Physical exchange has happened and you are ready for the buyer’s solicitor to apply to change the register</p>
    </div>

    <div class="full-width property-details">

      <div class="grid grid-1-2">
        <h2 class="heading-36">Property</h2>
        <div class="address">
          <p>26 The Stow<br>Harlow<br>CM20 3AN</p>
        </div>
        <dl>
          <dt>Owner</dt>
          <dd>Ms Fiona Wright</dd>
          <dt>Type</dt>
          <dd>Semi-detached house</dd>
          <dt>Title number</dt>
          <dd>EX802883</dd>
        </dl>
      </div>

      <div class="grid grid-1-2">
        <div class="map-container"></div>
      </div>

    </div>

    <div class="full-width dual">

      <div class="grid grid-1-2">
        <h2 class="heading-26">Buyer’s solicitor</h2>
        <dl>
          <dt>Solicitor</dt>
          <dd>Baldwin and Robinson Law</dd>
          <dt>Address</dt>
          <dd>
            4 Oxted Chambers<br>
            185-187 Station Road East<br>
            Oxted<br>
            Surrey<br>
            RH8 0QE
          </dd>
        </dl>
      </div>

      <div class="grid grid-1-2 buyer">
        <h2 class="heading-26">Buyer</h2>
        <dl>
          <dt>Buyer</dt>
          <dd>Mr Geoff Bridges</dd>
          <dt>Address</dt>
          <dd>
            22 Meadow Way<br>
            Theale<br>
            Reading<br>
            Berks<br>
            RG7 10JX
          </dd>
        </dl>
      </div>

    </div>

    <div class="full-width text">
      <p>
        <a href="/solicitors/initiate-exchange/done" class="button">Initiate electronic exchange</a>
      </p>
      <p><a href="#" class="">Sign up for alerts</a></p>
      <p><a href="#" class="">Boundary changes and historical maps</a></p>
      <p><a href="#" class="">Previous owners</a></p>
      
    </div>

  </div>

{% endblock %}

{% block extra_js %}
  <script>
    window.LR.extentMap = new LR.SingleExtentMap({
      el: '.map-container',
      extent: {"geometry": {"crs": {"type": "name", "properties": {"name": "EPSG:3857"}}, "type": "MultiPolygon", "coordinates": [[[[12715.636420080258, 6759785.153577343], [12719.102122105665, 6759785.803515486], [12719.734944721547, 6759782.631865009], [12718.149520609404, 6759782.326878414], [12719.197740892372, 6759776.779428467], [12717.218036119606, 6759776.400157347], [12720.895142760743, 6759756.073005967], [12711.712628213394, 6759754.382339404], [12708.968760391492, 6759769.427477924], [12706.420223719875, 6759783.415341181], [12715.636420080258, 6759785.153577343]]]]}},
    });
  </script>
{% endblock %}