{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/solicitors">For solicitors and conveyancers</a></li>
       </ol>
    </nav>
  </div>

  <div class="solicitor-case-list">

    <div class="text full-width">

      <h1 class="heading-48">
        ABC Solicitors
        <span class="phase-block">
          <span class="alpha">Concept</span>
        </span>
      </h1>

      <p><a href="/solicitors/add-client" class="button">Add new client</a></p>

    </div>

    <ul class="results">

      <li class="result">
        <div class="grid grid-2-3">
          <h3>Mr Albert Einstein</h3>
          <p>27 The Stow, Harlow</p>
          <p>Title number <a href="#">EX802884</a></p>
        </div>
        <div class="grid grid-1-3">
          <a href="/solicitors/agree-to-transact" class="button">Agree to transact and share</a>
        </div>
      </li>

      <li class="result complete">
        <div class="grid grid-2-3">
          <h3>Ms Florence Nightingale</h3>
          <p>40 The Hill, Harlow</p>
          <p>Title number <a href="#">EX803885</a></p>
        </div>
        <div class="grid grid-1-3">
          <span class="flag">Complete</span>
        </div>
      </li>

      <li class="result active">
        <div class="grid grid-2-3">
          <h3>Mr Kurt Vonnegut</h3>
          <p>26 The Stow, Harlow</p>
          <p>Title number <a href="#">EX802883</a></p>
        </div>
        <div class="grid grid-1-3">
          <span class="flag">Transfer application pending</span>
        </div>
      </li>

      <li class="result">
        <div class="grid grid-2-3">
          <h3>Mr Thomas Pynchon</h3>
          <p>105 Stort Tower, Great Plumtree, Harlow</p>
          <p>Title number <a href="#">EX851830</a></p>
        </div>
        <div class="grid grid-1-3">
          <a href="/solicitors/agree-to-transact" class="button">Agree to transact and share</a>
        </div>
      </li>

      <li class="result complete">
        <div class="grid grid-2-3">
          <h3>Ms Zadie Smith</h3>
          <p>59-60 The Stow, Harlow</p>
          <p>Title number <a href="#">EX800081</a></p>
        </div>
        <div class="grid grid-1-3">
          <span class="flag">Complete</span>
        </div>
      </li>

      <li class="result active">
        <div class="grid grid-2-3">
          <h3>Ms Toni Morrison</h3>
          <p>23 Halling Hill, Harlow and storage shed</p>
          <p>Title number <a href="#">EX839956</a></p>
        </div>
        <div class="grid grid-1-3">
          <span class="flag">Register frozen</span>
        </div>
      </li>

    </ul>

  </div>
{% endblock %}
