{% extends "base.html" %}
{% block landregistry_grid %}
  <div class="breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="/">Home</a></li>
        <li>NAME OF PAGE</li>
       </ol>
    </nav>
  </div>
  <div class="solicitor-case-list">
    <div class="full-width">
        <h1>ABC Solicitors</h1>
            <button class="button">Add new client</button>   
         <hr></hr>            
          <section>
              <div class="owner">
                <p>Mr A Einstein               
                </p>
              </div>
              <dl>
              <div class="address">
                <p>27 The Stow, Harlow</p>
              </div>              
              <div class="grid grid-1-2">
                <dl>
                  <dt>Type</dt>
                  <dd>Semi-detached house</dd>
                  <dt>Title number</dt>
                  <dd>EX802884</dd>
                </dl>
            </div>
            <button class="button">Agree to transact and share</button>     
         </section>
         <hr></hr>
         <section>
              <div class="owner">
                <p>Mrs F Nightingale              
                </p>
              </div>
              <dl>
              <div class="address">
                <p>40 The Hill, Harlow</p>
              </div>              
              <div class="grid grid-1-2">
                <dl>
                  <dt>Type</dt>
                  <dd>Detached house</dd>
                  <dt>Title number</dt>
                  <dd>EX803885</dd>
                </dl>
            </div>
            <button class="button">Complete</button>     
         </section>             
         <hr></hr>
          <section>
              <div class="owner">
                <p>A N Other               
                </p>
              </div>
              <dl>
              <div class="address">
                <p>26 The Stow, Harlow</p>
              </div>              
              <div class="grid grid-1-2">
                <dl>
                  <dt>Type</dt>
                  <dd>Semi-detached house</dd>
                  <dt>Title number</dt>
                  <dd>EX802883</dd>
                </dl>
              </div>
              <span class="phase-block">
                <span class="alpha">Transfer application pending</span>
              </span>
         </section>   
    </div>
  </div>
{% endblock %}
