{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block landregistry_grid %}

<div class="solicitor-transfer-property">

  <h1 class="heading-48">
    <span class="heading-27">Land registry</span>
    Apply to change register
  </h1>

  <nav class="progress-indicator progress-indicator-horizontal grid-space">
    <ol>
      <li><a href="/solicitors/transfer_title">1. Title details</a></li>
      <li><a href="/solicitors/transfer_property">2. New property details</a></li>
      <li><a href="/solicitors/transfer_provisions">3. Provisions</a></li>
      <li class="active"><a href="/solicitors/transfer_mortgage">4. New mortgage</a></li>
      <li>5. Confirmation &amp; payment</li>
    </ol>
  </nav>

  <div class="grid-wrapper grid-space">
    <div class="grid">
      <div class="inner-block">
        <h2 class="heading-24 no-top-margin">New mortgage</h2>
      </div>
    </div>
  </div>

  <div class="grid-wrapper check-answers">
    <div class="grid grid-1-3">
      <div class="inner-block">
       <p>MD reference</p>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p><b>MD1234F</b></p>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p class="align-right"><a href="">change</a></p>
      </div>
    </div>
  </div>

  <div class="grid-wrapper check-answers">
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p>Lender</p>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p><b>Nationwide</b></p>
      </div>
    </div>
  </div>

  <div class="grid-wrapper check-answers">
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p>Lender address</p>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p><b>Nationwide Head Office address - Swindon</b></p>
        <p><b>Nationwide Building Society<br>Nationwide House<br>Pipers Way<br>Swindon<br>SN38 1NW</b></p>
      </div>
    </div>
  </div>

  <div class="grid-wrapper grid-space check-answers check-answers-last">
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p>Mortgage date</p>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p><b>21 July 2015</b></p>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <p class="align-right"><a href="">change</a></p>
      </div>
    </div>
  </div>

  <div class="grid-wrapper grid-space">
    <div class="grid">
      <div class="inner-block">
        <ul>
          <li><a href="/solicitors/transfer_confirmation" class="button">Continue</a></li>
          <li><a href="/">Save and return later</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock %}
