{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="solicitor-transfer-receipt">

  <div class="full-width">

    <h1 class="heading-48">
      <span class="heading-27">Land registry</span>
      Apply to change the register
      <span class="phase-block">
        <span class="alpha">Concept</span>
      </span>
    </h1>

    </div>
    <div class="full-width">
      <div class="splash">
        <h1>Done</h1>
        <p class="lede">You have applied to change the register<br><br>Your reference number is  9SJND994<br><br>We have sent you a confirmation email
        </p>
      </div>
    </div>        


    <div class="full-width">
      <a href="" class="link-left">View details of the application</a>

      <a href="" class="link-right">View property details</a>
    </div>
  </div>
{% endblock %}


