{% extends "base.html" %}
{% block landregistry_grid %}

<div class="solicitor-transfer-property">
  <div class="breadcrumb">
    <nav role="navigation">
      <ol>

      </ol>
    </nav>
    <div align="right">
      Logged in as solicitor: <a href="#">David Jennings</a><br>
    </div>
  </div>

  <h1 class="heading-48">
    <span class="heading-27">Land registry</span>
    Apply to change register
  </h1>

  <nav class="progress-indicator progress-indicator-horizontal grid-space">
    <ol>
      <li><a href="/solicitors/transfer_title/">1. Title details</a></li>
      <li class="active">2. New property details</li>
      <li>3. Provisions</li>
      <li>4. New mortgage</li>
      <li>5. Confirmation &amp; payment</li>
    </ol>
  </nav>

  <div class="grid-wrapper grid-space">
    <div class="grid grid-2-3">
      <div class="inner-block">
        <label class="form-label-bold">
          Describe the property
          <p class="form-hint">For example, postal address or 'land at the back of...'</p>
        </label>
        <textarea rows="10" cols="80" id="q" name="q" /> </textarea>
      </div>
    </div>
  </div>

  <div class="grid-wrapper grid-space">
    <div class="grid grid-1-2">
      <div class="inner-block">
        <h2 class="heading-24 no-top-margin">Proposed title plan</h2>
        <p>This plan must reflect the final extent and all matters referred to in the transfer.</p>
      </div>
    </div>
    <div class="grid grid-1-2">
      <div class="inner-block">
        <p><a href="">Upload new plan</a></p>
      </div>
    </div>
    <div class="grid grid-2-3">
      <div class="inner-block">
        <img src="/static/images/map.png" alt="some_text" class="max-image">
      </div>
    </div>
  </div>

  <div class="grid-wrapper grid-space">
    <div class="grid">
      <div class="inner-block">
        <ul>
          <li><a href="/solicitors/transfer_provisions" class="button">Next</a></li>
          <li><a href="/solicitors">Save and return later</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
{% endblock %}


