{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block landregistry_grid %}

<div class="solicitor-transfer-provisions">
  <div class="full-width">
    <h1 class="heading-48">      
      <span class="heading-27">Land Registry</span>
      Apply to change register
      <span class="phase-block">
        <span class="alpha">Concept</span>
      </span>
    </h1>

    <div>
      <nav class="progress-indicator progress-indicator-horizontal">
        <ol>
          <li><a href="">1. Title details</a></li>
          <li><a href="">2. New property details</a></li>
          <li class="active">3. Provisions</li>
          <li>4. New mortgage</li>
          <li>5. Confirmation &amp; payment</li>
        </ol>
      </nav>
    </div>

    <h2>Add new provisions</h2>
    <p>Please cut and paste from the deed</p> 
    <br>
    <br>

    <div id="provisions" class="accordian" data-collapse="accordion persist">
      <h2 id="definitions" class="open">Definitions</h2>
      <div>
        <textarea id="definitions-text"></textarea>
        <br>
        <a id="def-next" href="#easements" class="button">Next</a>
        <input id="no-def-checkbox" type="checkbox" value="no-definitions">No definitions</input>
      </div>
      <h2 id="easements">Easements</h2>
      <div>
        <textarea id="easements-text"></textarea>
        <br>
        <a id="ease-next" href="#covenants" class="button">Next</a>
        <input id="no-easements-checkbox" type="checkbox" value="no-easements">No easements</input>
      </div>  
      <h2 id="covenants">Covenants</h2>
      <div>
        <textarea id="covenants-text"></textarea>
        <br>
        <a id="cov-next" href="#other" class="button">Next</a>
        <input id="no-covenants-checkbox" type="checkbox" value="no-covenants">No covenants</input>
      </div>  
      <h2 id="other">Other provisions</h2>
      <div>
        <textarea id="others-text"></textarea>   
        <br>
        <a  id="next" class="button">Next</a>   
        <input id="no-others-checkbox" type="checkbox" value="no-others">No other provisions</input>
      </div>  
    </div>   


    <br><br>

    <a href="/">Save and return later</a> 
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script>

  var defComplete = false;
  var easeComplete = false;
  var covComplete = false;
  var provComplete = false;
  
  $("#def-next").click(function() {
    if ((document.getElementById("definitions-text").value != "") || (document.getElementById("no-def-checkbox").checked)) {
      $('#definitions').removeClass().addClass('complete');
      defComplete = true;
    }  
    document.getElementById("easements").children[0].click();
  });

  $("#ease-next").click(function() {
    if ((document.getElementById("easements-text").value != "") || (document.getElementById("no-easements-checkbox").checked)) {
       $('#easements').removeClass().addClass('complete');
       easeComplete = true;
    }      
    document.getElementById("covenants").children[0].click();
  });

  $("#cov-next").click(function() {
    if ((document.getElementById("covenants-text").value != "") || (document.getElementById("no-covenants-checkbox").checked)) {
       $('#covenants').removeClass().addClass('complete');
       covComplete = true;
    }      
    document.getElementById("other").children[0].click();
  });

  $("#next").click(function() {
    if ((document.getElementById("others-text").value != "") || (document.getElementById("no-others-checkbox").checked)) {
       $('#other').removeClass().addClass('complete');
      provComplete = true;
    }      


    if (defComplete && easeComplete && covComplete && provComplete) {
        window.location.href = '/solicitors/transfer_mortgage';
    } 

  });
  </script>

{% endblock %}

