{% extends "base.html" %}
{% block landregistry_grid %}


<div class="solicitor-transfer-confirmation">

  <h1 class="heading-48">
    <span class="heading-27">Land Registry</span>
    Apply to change register
    <span class="phase-block">
      <span class="alpha">Concept</span>
    </span>
  </h1>

  <nav class="progress-indicator progress-indicator-horizontal">
    <ol>
      <li><a href="/solicitors/transfer_title">1. Title details</a></li>
      <li><a href="/solicitors/transfer_property">2. New property details</a></li>
      <li><a href="/solicitors/transfer_provisions">3. Provisions</a></li>
      <li><a href="/solicitors/transfer_mortgage">4. New mortgage</a></li>
       <li class="active">5. Confirmation &amp; payment</li>
    </ol>
  </nav>
      
  <h1>Confirm details</h1>
  <h1>Existing title</h1>
  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Proprietor address</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>13 Isleworth Road<br>Exeter<br>EX4 1QU</b></p>
    </div>
  </div>

  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Proprietor</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>Paul John Dawkins</b></p>
    </div>  
  </div>  

  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Title number</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>CS72510</b></p>
    </div>  
  </div>  
 
  <div class="full-width">
    <div class="grid grid-2-3">
      <p><b>You have certified that we have evidence to comply with the relevant restrictions</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>
  </div>

  <h1>New proprietor</h1>
  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Address</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>64 Green Parade<br>Norwich<br>NR4 2PD</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Name</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>Patricia Elmsworth</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Email</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>pelmsworth@good.email.co.uk</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>
  </div>

  <h1>Transfer details</h1>
  <div class="full-width">
    <div class="grid grid-1-3">
      <p>Price paid</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>£190,000</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>
  </div>

  <div class="full-width">
     <div class="grid grid-1-3">
      <p>Transfer date</p>
    </div>
    <div class="grid grid-1-3">
      <p><b>15 June 2018</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>     
  </div>

  <div class="full-width">
     <div class="grid grid-1-3">
      <p>Declaration of trust</p>
    </div>
    <div class="grid grid-1-3">
      <p>Not required, there is only one transferee.</p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>     
  </div>


  <h1>New property description</h1>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>Land at the back of 13 Isleworth Road</p>
    </div>
    <div class="grid grid-1-2">
      <p><a href="">change description</a></p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>Proposed title plan</p>
    </div>
    <div class="grid grid-1-2">
      <p><a href="">view or change plan</a></p>
    </div>
  </div>  

  <h1>New provisions</h1>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>New definitions added</p>
    </div>
    <div class="grid grid-1-2">
      <p><a href="">view or change provision</a></p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>New easements added</p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>No new covenants added</p>
    </div>
  </div>    
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>No other provisions added</p>
    </div>
  </div>    

  <h1>Mortgage</h1>
  <div class="full-width">
   <div class="grid grid-1-3">
    <p>MD reference</p>
  </div>
  <div class="grid grid-1-3">
    <p><b>MD1234F</b></p>
  </div>
  <div class="grid grid-1-3">
    <p><a href="">Change</a></p>
  </div>     
</div>

  <div class="full-width">
   <div class="grid grid-1-3">
    <p>Lender</p>
  </div>
   <div class="grid grid-1-3">
    <p><b>Nationwide</b></p>
  </div>
</div>

  <div class="full-width">
   <div class="grid grid-1-3">
    <p>Lender address</p>
  </div>
   <div class="grid grid-1-3">
    <p><b>Nationwide Building Society<br> Nationwide House<br> Pipers Way<br> Swindon<br> SN38 1NW</b></p>
  </div>
</div>

  <div class="full-width">
   <div class="grid grid-1-3">
    <p>Mortgage date</p>
  </div>
  <div class="grid grid-1-3">
    <p><b>21 July 2015</b></p>
  </div>
  <div class="grid grid-1-3">
    <p><a href="">Change</a></p>
  </div>     
</div>

    <h1>Payment</h1>
    <div class="full-width">
      <p>Total fee due for this application is £100</p>
    </div>
    <div class="full-width">
      <form action="">
        <p>Pay using:</p>
        <input type="radio" name="payment-method">Variable direct debit
        <p>We will take this payment from the Heart & Co Solicitors account</p>
        <input type="radio" name="payment-method">Paypal<br>
        <input type="radio" name="payment-method">Credit card<br>
      </form>
    </div>
    <br>

      <div class="grid grid-2-3">
        <a class="button" href="/solicitors/transfer_receipt">Freeze the register</a>
        <a href="/solicitors">Save and return later</a>
      </div>  

  </div>
  {% endblock %}


