{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="solicitor-transfer-receipt">

    <h1 class="heading-48">
      <span class="heading-27">Land registry</span>
      Apply to change the register
      <span class="phase-block">
        <span class="alpha">Concept</span>
      </span>
    </h1>

    <div class="grid-section">
      <div class="splash">
        <h1>Done</h1>
        <p class="lede">You have applied to change the register<br><br>Your reference number is  9SJND994<br><br>We have sent you a confirmation email
        </p>
      </div>
    </div>

    <div class="grid-section">
      <ul>
        <li><a href="">View details of the application</a></li>
        <li><a href="">View property details</a></li>
      </ul>
    </div>

  </div>
{% endblock %}


