{% extends "base.html" %}
{% block landregistry_grid %}


<div class="solicitor-transfer-confirmation">

  <h1 class="heading-48">
    <span class="heading-27">Land Registry</span>
    Apply to change register
    <span class="phase-block">
      <span class="alpha">Concept</span>
    </span>
  </h1>

  <nav class="progress-indicator progress-indicator-horizontal">
    <ol>
      <li><a href="">1. Title details</a></li>
      <li class="active">2. New property details</li>
      <li>3. Provisions</li>
      <li>4. New mortgage</li>
       <li>5. Confirmation &amp; payment</li>
    </ol>
  </nav>
      
  <h1>Confirm details</h1>
  <h1>Existing title</h1>
  <div class="row">
    <div class="metadata">
      <div class="inner-block">
        <dl>  
          <dt>Address</dt>
          <dd>13 Isleworth Road,Exeter,EX4 1QU</dd>
          <dt>Owner</dt>
          <dd>Paul John Dawkins</dd>
          <dt>Type</dt>
          <dd>Semi-detached house</dd>
          <dt>Title number</dt>
          <dd>CS72510</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-2-3">
      <p><b>You have certified that we have evidence to comply with the relevant restrictions</b></p>
    </div>
    <div class="grid grid-1-3">
      <p><a href="">Change</a></p>
    </div>
  </div>

  <h1>New proprietor</h1>
  <div class="row">
    <div class="metadata">
      <div class="inner-block">
        <dl>  
          <dt>Address</dt>
          <dd>64 Green Parade,Norwich,NR4 2PD</dd>
          <dt>Name</dt>
          <dd>Patricia Elmsworth</dd>
          <dt>Email</dt>
          <dd>pelmsworth@good.email.co.uk</dd>
        </dl>
      </div>
    </div>
  </div>

  <h1>Transfer details</h1>
  <div class="row">
    <div class="metadata">
      <div class="inner-block">
        <dl>  
          <dt>Price paid</dt>
          <dd>£190,000</dd>
          <dt>Transfer date</dt>
          <dd>15 June 2018</dd>
          <dt>Declaration of trust</dt>
          <dd>Not required, there is only one transferee.</dd>
        </dl>
      </div>
    </div>
  </div>

  <h1>New property description</h1>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>Land at the back of 13 Isleworth Road</p>
    </div>
    <div class="grid grid-1-2">
      <p><a href="">change description</a></p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>Proposed title plan</p>
    </div>
    <div class="grid grid-1-2">
      <p><a href="">view or change plan</a></p>
    </div>
  </div>  

  <h1>New provisions</h1>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>New definitions added</p>
    </div>
    <div class="grid grid-1-2">
      <p><a href="">view or change provision</a></p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>New easements added</p>
    </div>
  </div>
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>No new covenants added</p>
    </div>
  </div>    
  <div class="full-width">
    <div class="grid grid-1-2">
      <p>No other provisions added</p>
    </div>
  </div>    

  <h1>Mortgage</h1>
  <div class="row">
    <div class="metadata">
      <div class="inner-block">
        <dl>  
          <dt>MD reference</dt>
          <dd>MD1234F</dd>
          <dt>Lender</dt>
          <dd>Nationwide</dd>
          <dt>Lender address</dt>
          <dd>Nationwide Building Society</dd>
          <dt>address line 2</dt>
          <dd>Nationwide House</dd>
          <dt>Mortgage date</dt>
          <dd>21 July 2015</dt>
          </dl>

        </div>
      </div>
    </div>

    <h1>Payment</h1>
    <div class="full-width">
      <p>Total fee due for this application is £100</p>
    </div>
    <div class="full-width">
      <form action="">
        <p>Pay using:</p>
        <input type="radio" name="payment-method">Variable direct debit
        <p>We will take this payment from the Heart & Co Solicitors account</p>
        <input type="radio" name="payment-method">Paypal<br>
        <input type="radio" name="payment-method">Credit card<br>
      </form>
    </div>
    <br>

      <div class="grid grid-2-3">
        <a class="button" href="">Freeze the register</a>
        <a href="/solicitors">Save and return later</a>
      </div>  

  </div>
  {% endblock %}


