{% extends "base.html" %}
{% block landregistry_grid %}

  <div class="caseworker-worklist">

    <div class="full-width">

      <h1 class="heading-48">
        <span class="heading-27">Land Registry</span>
        Caseworker Worklist
        <span class="phase-block">
          <span class="alpha">Concept</span>
        </span>
      </h1>

    <div>

    <div class="full-width">

      <form class="form-filter" action="">
        <label class="team-label">Team:</label>
        <input type="text" class="team-text" name="team-text" value ="Avalon"/>
        <label class="filter-label">Filter:</label>
        <input type="text" class="filter-text" name="filter-text" value="All" />
        <label class="prod-label">Today's Production:</label>
        <progress class="prod-progress" max="100" value="60"> </progress>
      </form>

    </div>   

    <br><br>

    <div class="full-width">
      <table class="worklist-detail table">
        <tr>
          <th>Item Order</th>
          <th>Type of appn</th> 
          <th>Customer</th>
          <th>Date and time submitted</th> 
          <th>Reason for manual</th>
          <th>Status</th>
          <th>Title no</th> 
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Transfer of part with charge and provisions</td>
          <td>Messrs Hayworck York</td> 
          <td>17.04.15 08:24</td>
          <td>Provisions</td>
          <td>New</td>
          <td>NT: X123
              OT: Y024</td>
          <td>
            <ul>
              <li><a href="">View</a></li>
              <li><a href="">Re-allocate</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Transfer of part</td>
          <td>Seddons London W5</td> 
          <td>17.04.15 09:45</td>
          <td>Mapping overlap</td>
          <td>New</td>
          <td>NT: X234
              OT: Y076</td>
          <td>            
            <ul>
              <li><a href="">View</a></li>
              <li><a href="">Allocate</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Charge</td>
          <td>London Borough of Croydon</td> 
          <td>25.01.15 15:45</td>
          <td>Missing certificate</td>
          <td>Period expired</td>
          <td>Z666</td>
          <td>            
            <ul>
              <li><a href="">New</a></li>
              <li><a href="">Allocate</a></li>
              <li><a href="">Cancel</a></li>
            </ul>
          </td>
        </tr>
      </table>  
    </div>

  </div> 

{% endblock %}


