{% extends "lr-base.html" %}
{% block main_grid %}

  <div class="caseworker-worklist">

    <div class="full-width">

      <br>

      <h1 class="heading-48">
        Caseworker Worklist
      </h1>

      <form class="form-filter" action="">
        <label class="team-label">Team:</label>
        <input type="text" class="team-text" name="team-text" value ="Avalon"/>
        <label class="filter-label">Filter:</label>
        <input type="text" class="filter-text" name="filter-text" value="All" />
        <label class="user-signedin">Signed in as: Barry Smith</label>
      </form>  

      <table class="worklist-detail table">
        <tr>
          <th>Item Order</th>
          <th>Title No</th>
          <th>Application</th> 
          <th>Customer</th>
          <th>Date and Time Submitted</th> 
          <th>Reason for Manual</th>
          <th>Status</th>
          <th>Actions</th>
          <th>Next Action Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>NT: X123
              OT: Y024
          </td>
          <td>Transfer of part with charge and provisions</td>
          <td>Messrs Hayworck York</td> 
          <td>17.04.15 08:24</td>
          <td>Provisions</td>
          <td>New</td>
          <td>
            <ul>
              <li><a href="">Open</a></li>
              <br>
              <li><a href="">Cancel</a></li>
            </ul>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>NT: X234
              OT: Y076
          </td>
          <td>Transfer of part</td>
          <td>Seddons London W5</td> 
          <td>17.04.15 09:45</td>
          <td>Mapping overlap</td>
          <td>In progress</td>    
          <td>        
            <ul>
              <li><a href="">Open</a></li>
              <br>
              <li><a href="">Cancel</a></li>
              <br>
              <li><a href="">Refer</a></li>
            </ul>
          </td>
          <td>17.05.15</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Z666</td>
          <td>Charge</td>
          <td>London Borough of Croydon</td> 
          <td>25.01.15 15:45</td>
          <td>Missing certificate</td>
          <td>Standover</td>
          <td>            
            <ul>
              <li><a href="">Open</a></li>
              <br>
              <li><a href="">Cancel</a></li>
              <br>
              <li><a href="">Refer</a></li>
            </ul>
          </td>
          <td>25.02.15</td>
        </tr>
      </table>  

      <br>

      <a href="" class="button">Pull next case</a>

    </div>

  </div> 

{% endblock %}

